{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
    .community-container{
        position: relative;
        width: 100%;
        height: auto;
    }
    .user{
      position: relative;
      width: 150px;
      height: 250px;
      background-color: beige;
      padding: 10px;
      border-radius: 10px;
      -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
      -moz-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.425);
      box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.35);
      left: 50%;
      transform: translateX(-50%);
    }
    .profile-image{
        position: relative;
        border-radius: 180px;
        left: 50%;
        transform: translateX(-50%);
        width: 64px;
        height: 64px;
        overflow: hidden;
    }

    .info{
        text-align: center;
    }

    .info h5{
        margin: 0;
        font-size: 18px;
    }
    .info h6{
        margin: 0;
        font-size: 16px;
    }

    .info p{
        color: rgb(19, 0, 104);
        margin: 0;
        font-weight: 800;
        font-size: 15px;
    }

    .info .add_info{
        color: purple;
        font-weight: 600;
        font-size: 15px;
    }

    .profile-section{
        position: relative; 
        display: flex; 
        left: 50%; 
        transform: translateX(-50%); 
        width: 500px; 
        margin: 5px; 
    }

    .border-cool-orange{
        border: 3px solid rgb(252, 122, 1);
    }

    .border-cool-red{
        border: 3px solid rgb(122, 3, 3);
    }

    .border-gradient {
        border: 3px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-radius: 10px;
    }

    .gradient-text{
        background-image: linear-gradient(to right, #a0286e, #094eb6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .border-gradient-purple {
        position: relative;
          border: 5px solid transparent;
        background: #f2f2f2;
        background-clip: padding-box;
        
        border-radius: 10px;
      }
      
      .border-gradient-purple ::after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(to left, #9158f5, #d65faa);
        z-index: -1;
        border-radius: 10px;
      }
    
      .border-gradient-orange {
        position: relative;
        border: 5px solid transparent;
        background: #f3e3c0;
        background-clip: padding-box;
        
        border-radius: 10px;
      }
      
      .border-gradient-orange ::after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(to bottom, #ffee07, #d4550b);
        z-index: -1;
        border-radius: 10px;
      }

      .border-gradient-red {
        position: relative;
          border: 5px solid transparent;
        background: #e7caca;
        background-clip: padding-box;
        
        border-radius: 10px;
      }
      
      .border-gradient-red ::after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(to bottom, #e74863, #eb2424);
        z-index: -1;
        border-radius: 10px;
      }

      .border-gradient-green {
        position: relative;
          border: 5px solid transparent;
        background: #9ff0aa;
        background-clip: padding-box;
        
        border-radius: 10px;
      }
      
      .border-gradient-green ::after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(to top, #5ce957, #039116);
        z-index: -1;
        border-radius: 10px;
      }

      .border-gradient-gray {
        position: relative;
          border: 5px solid transparent;
        background: #9ff0aa;
        background-clip: padding-box;
        
        border-radius: 10px;
      }
      
      .border-gradient-gray ::after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(to bottom, #e6e6e6, #818181);
        z-index: -1;
        border-radius: 10px;
      }

      .shimmer {
        color: black;
        -webkit-mask: linear-gradient(-60deg,#000 30%,#0005,#000 40%) right/500% 100%;
        background-repeat: no-repeat;
        animation: shimmer 2.5s infinite;
      }
      
      @keyframes shimmer {
        100% {-webkit-mask-position:left}
      }

    
</style>
<br />
<button class="backButton" onclick="location.href='/'">Back</button>
<br /><br />
<div class="community-container">
    <h1 style="text-align: center; color:#074873; ">PSITS Community</h1> <br>
        {% set count = namespace(value=0) %}

    <div class="row community-container" style="margin: auto;">
        {% for user in community %}

            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                

                <div style="margin: 5px">
                    {% if user.uid|string in devs %}
                    <div class="user {{devs[user.uid|string][1]}}" title="{{user.firstname}} {{user.lastname}}">
                    {% else %}
                    <div class="user" title="{{user.firstname}} {{user.lastname}}">
                    {% endif %}
                        <div class="profile">
                            {% if user.img == '' %}
                            <img class="profile-image" loading="lazy" src="https://via.placeholder.com/64x64">  
                            {% elif user.uid|string in devs %}
                            <img class="profile-image {{devs[user.uid|string][2]}}" loading="lazy" src="{{ url_for('download_file', filename=user.img) }}">  
                            {% else %}
                            <img class="profile-image" loading="lazy" src="{{ url_for('download_file', filename=user.img) }}">  
                            {% endif %}
                        </div>
                        <div class="info">
                            {% if '19889781' in user.uid|string %}
                                <h5 class="gradient-text">{{user.lastname}}</h5>
                                <h6 style="color: rgb(151, 11, 81);">{{user.firstname}}</h6>
                            {% else %}
                                <h5>{{user.lastname}}</h5>
                                <h6>{{user.firstname}}</h6>
                            {% endif %}
                            <br>
                            <p>{{user.course}} {{user.year}}</p>
                            {% if user.uid|string in devs%}
                            <p class="add_info">{{ devs[user.uid|string][0] }}</p>
                            {% endif %}
                            {% if user.uid|string in devs %}
                                {% for icons in devs[user.uid|string][3]['icons']%}
                                    {% for key in icons %}
                                    <i onclick="location.href='{{icons[key]}}'" title="{{icons[key]}}" style="cursor: pointer;" class="{{key}}"></i>&nbsp;
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            
                        </div>
                    </div>
                </div>


                
            </div>
        {% endfor %}
    </div>
    
</div>
<br />

{% endblock %}