{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='progress.css')}}">

<style>
    .community-container{
        position: relative;
        width: 100%;
        height: auto;
    }
    .user{
      position: relative;
      width: 150px;
      height: 250px;
      background-color: beige;
      padding: 10px;
      border-radius: 10px;
      -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
      -moz-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.425);
      box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.35);
      left: 50%;
      transform: translateX(-50%);
      -webkit-user-select: none;
      -webkit-touch-callout: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .profile-image, .info-image{
        position: relative;
        border-radius: 180px;
        left: 50%;
        transform: translateX(-50%);
        width: 64px;
        height: 64px;
        overflow: hidden;
    }
    .info-image{
      width: 120px;
      height: 120px;
  }

    .info{
        text-align: center;
    }

    .info h5{
        margin: 0;
        font-size: 18px;
    }
    .info h6{
        margin: 0;
        font-size: 16px;
    }

    .info p{
        color: rgb(19, 0, 104);
        margin: 0;
        font-weight: 800;
        font-size: 15px;
    }

    .info .add_info{
        color: purple;
        font-weight: 600;
        font-size: 15px;
    }

    .profile-section{
        position: relative; 
        display: flex; 
        left: 50%; 
        transform: translateX(-50%); 
        width: 500px; 
        margin: 5px; 
    }

    .border-cool-orange{
        border: 3px solid rgb(252, 122, 1);
    }

    .border-cool-red{
        border: 3px solid rgb(122, 3, 3);
    }

    .border-gradient {
        border: 3px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-radius: 10px;
    }

    .gradient-text{
        background-image: linear-gradient(to right, #a0286e, #094eb6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .border-gradient-purple {
        position: relative;
          border: 5px solid transparent;
        background: #f2f2f2;
        background-clip: padding-box;
        
        border-radius: 10px;
      }
      
      .border-gradient-purple ::after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(to bottom, #7c8ef5, #b660c7);
        z-index: -1;
        border-radius: 10px;
      }
    
      .border-gradient-orange {
        position: relative;
        border: 5px solid transparent;
        background: #f3e3c0;
        background-clip: padding-box;
        
        border-radius: 10px;
      }
      
      .border-gradient-orange ::after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(to bottom, #ffee07, #d4550b);
        z-index: -1;
        border-radius: 10px;
      }

      .border-gradient-red {
        position: relative;
          border: 5px solid transparent;
        background: #e7caca;
        background-clip: padding-box;
        
        border-radius: 10px;
      }
      
      .border-gradient-red ::after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(to bottom, #e74863, #eb2424);
        z-index: -1;
        border-radius: 10px;
      }

      .border-gradient-green {
        position: relative;
          border: 5px solid transparent;
        background: #9ff0aa;
        background-clip: padding-box;
        
        border-radius: 10px;
      }
      
      .border-gradient-green ::after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(to top, #5ce957, #039116);
        z-index: -1;
        border-radius: 10px;
      }

      .border-gradient-gray {
        position: relative;
          border: 5px solid transparent;
        background: #9ff0aa;
        background-clip: padding-box;
        
        border-radius: 10px;
      }
      
      .border-gradient-gray ::after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(to bottom, #e6e6e6, #818181);
        z-index: -1;
        border-radius: 10px;
      }

      .shimmer {
        color: black;
        -webkit-mask: linear-gradient(-60deg,#000 30%,#0005,#000 40%) right/500% 100%;
        background-repeat: no-repeat;
        animation: shimmer 2.5s infinite;
      }
      
      @keyframes shimmer {
        100% {-webkit-mask-position:left}
      }

      .student-info{
        position: fixed;
        width: 340px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
        background-color: rgb(0, 0, 0);
        border: 5px solid grey;
        z-index: 1;
        color: white
      }
</style>
<br />
<button class="backButton" onclick="location.href='/'">Back</button>
<br /><br />
<div class="student-info" id="student-info" style="display: none;" onclick="closeInfo()">
  <div style="display: flex;padding: 5px;">
    <div onclick="closeInfo()">
      <img class="info-image" id='info-image' src="https://via.placeholder.com/150x150"> 
    </div>
    <div style="padding: 0px 0px 0px 20px;">
      <h5 id="student-info-name"></h5>
      <p id="student-info-courseyear" style="margin: 0;"></p>
      <div id="student-info-links" style="font-size: 25px;">
        
      </div>
    </div>
  </div>
  <br>
  <div style="text-align: center;">
    <h4 id="skills-title">Skills</h4>
    <br>
    <div id="skills-data" >
    </div>
  </div>
</div>
<script>

  function closeInfo(){
    document.getElementById('student-info').style.display = 'none';
  }
  async function showInformation(name, courseyear, links, idno){
    
    document.getElementById('student-info-name').innerHTML = name;
    document.getElementById('student-info-courseyear').innerHTML = courseyear;
    document.getElementById('info-image').src = document.getElementById(`${idno}img`).src;
      
    let infoLinkElement = document.getElementById('student-info-links');
    infoLinkElement.innerHTML = '';

    let linkElement = document.getElementById(links);
    linkElement.childNodes.forEach(child => {
      let clone = child.cloneNode(true);
      infoLinkElement.appendChild(clone);
    });
    const SkillData = document.getElementById('skills-data');
    SkillData.innerHTML = '';

    let response = await fetch(`/PSITS/api/quiz?studentId=${idno}`);
    let data = await response.json();
    if(data.UserData){
      
      if(data.UserData.length>0)
        document.getElementById('skills-title').innerHTML = 'Skills';
      else  {
        document.getElementById('skills-title').innerHTML = 'No Record';
      }
      data.UserData.forEach( result => {
        const FLEX_DIV = document.createElement('div');
        FLEX_DIV.style.display = 'flex';

        const PROGRESS_DIV = document.createElement('div');
        PROGRESS_DIV.style.width = '70%';
        PROGRESS_DIV.style.height = '20px';
        PROGRESS_DIV.style.borderRight = '1px solid black';
        PROGRESS_DIV.style.paddingRight = '5px';

        const PROGRESS_METER = document.createElement('div');
        PROGRESS_METER.classList.add('meter');
        let percentage = (result.Score/result.TotalScore)*100;
        if(percentage >= 70)
          PROGRESS_METER.classList.add('green');
        else if(percentage >= 40)
          PROGRESS_METER.classList.add('orange');
        else
          PROGRESS_METER.classList.add('red');
        
        PROGRESS_METER.classList.add('nostripes');

        const PROGRESS_SPAN = document.createElement('span');
        PROGRESS_SPAN.style.width = `${percentage}%`;

        PROGRESS_METER.appendChild(PROGRESS_SPAN);
        PROGRESS_DIV.appendChild(PROGRESS_METER);
        FLEX_DIV.appendChild(PROGRESS_DIV);

        const TOPIC_DIV = document.createElement('div');

        const TOPIC = document.createElement('a');
        TOPIC.innerHTML = `${result.QuizTopic}`;
        TOPIC.style.textAlign = 'right';
        TOPIC.style.paddingLeft = '5px';
        TOPIC.href = `/PSITS/Quiz/${result.QuizID}`;
        TOPIC.style.color = '#007bff';
        TOPIC_DIV.style.height = '20px';
        TOPIC_DIV.appendChild(TOPIC);
        FLEX_DIV.appendChild(TOPIC_DIV);
        SkillData.appendChild(FLEX_DIV);
        SkillData.appendChild(document.createElement('br'));
      })
      SkillData.appendChild(document.createElement('br'))
      let take_quiz = document.createElement('a');
      take_quiz.innerHTML = 'Take skills test';
      take_quiz.href = '/PSITS/PublicQuizzes';
      take_quiz.classList.add('normalButton');
      SkillData.appendChild(take_quiz)
      SkillData.appendChild(document.createElement('br'))
      SkillData.appendChild(document.createElement('br'))
    }else{
      document.getElementById('skills-title').innerHTML = 'No Record';
      let take_quiz = document.createElement('a');
      take_quiz.innerHTML = 'Take skills test';
      take_quiz.href = 'PSITS/PublicQuizzes'
      SkillData.appendChild(take_quiz)
    }

    document.getElementById('student-info').style.display = 'block';
  }
</script>
<div class="community-container" onclick="closeInfo()">

    <h1 style="text-align: center; color:#074873; ">PSITS Community</h1> <br>

    
        {% set count = namespace(value=0) %}

    <div class="row community-container" style="margin: auto;">
        {% for user in community %}

            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                

                <div style="margin: 5px">
                    {% if user.uid|string in devs %}
                    <div class="user {{devs[user.uid|string][1]}}" title="{{user.firstname}} {{user.lastname}} (View more info)"
                      onclick="showInformation('{{user.firstname}} {{user.lastname}}','{{user.course}} {{user.year}}','{{user.uid}}links','{{user.uid}}')">
                    {% else %}
                    <div class="user" title="{{user.firstname}} {{user.lastname}} (View more info)" onclick="showInformation('{{user.firstname}} {{user.lastname}}','{{user.course}} {{user.year}}','{{user.uid}}links','{{user.uid}}')">
                    {% endif %}
                        <div class="profile">
                            {% if user.img == '' %}
                            <img id="{{user.uid}}img" class="profile-image" loading="lazy" src="https://via.placeholder.com/64x64">  
                            {% elif user.uid|string in devs %}
                            <img id="{{user.uid}}img" class="profile-image {{devs[user.uid|string][2]}}" loading="lazy" src="{{ url_for('download_file', filename=user.img) }}">  
                            {% else %}
                            <img id="{{user.uid}}img" class="profile-image" loading="lazy" src="{{ url_for('download_file', filename=user.img) }}">  
                            {% endif %}
                        </div>
                        <div class="info">
                            {% if '19889781' in user.uid|string %}
                                <h5 class="gradient-text">{{user.lastname}}</h5>
                                <h6 style="color: rgb(151, 11, 81);">{{user.firstname}}</h6>
                            {% else %}
                                <h5>{{user.lastname}}</h5>
                                <h6>{{user.firstname}}</h6>
                            {% endif %}
                            <br>
                            <p>{{user.course}} {{user.year}}</p>
                            {% if user.uid|string in devs%}
                            <p class="add_info">{{ devs[user.uid|string][0] }}</p>
                            {% endif %}
                            <div id="{{user.uid}}links">
                              {% if user.uid|string in devs %}
                                  {% for icons in devs[user.uid|string][3]['icons']%}
                                      {% for key in icons %}
                                      <i onclick="location.href='{{icons[key]}}'" title="{{icons[key]}}" style="cursor: pointer;" class="{{key}}"></i>&nbsp;
                                      {% endfor %}
                                  {% endfor %}
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


                
            </div>
        {% endfor %}
        
    </div>
    
    
</div>
<br />
<script src="{{url_for('static', filename='jquery.js')}}"></script>
<script src="{{url_for('static', filename='progress.js')}}"></script>

{% endblock %}