{% extends 'base.html' %}

{% block content %}
<style>
    .logo{
        width: auto;
        height: 150px;
    }
    
    body{
        background-color: #f1f3f3;
    }
    
    /*Bottom Area*/
    .bottomArea{
        background-color: #424243;
        height: 8rem;
        color: #fff;
        font-size: .8rem;
        position: relative;
        bottom: 0;
        left: 0;
    }
    
    .bottomArea p{
        font-size: .7rem;
    }
    
    .bottomArea h5{
        font-weight: 800;
        font-size: 16px;
    }
    
    h3, h4{
        font-weight: 200;
        color: #424243;
    }
    
    h4{
        color: #b8b8b8;
        font-weight: 200;
        text-transform: uppercase;
    }
    
    .totalNum{
        color: #40bb3d;
        font-weight: bold;
        font-size: 5rem;
    }
    
    .graphSec{
        /* margin: 5px; */
        box-shadow: 0 0 10px rgba(173, 176, 180, 0.3);
        background-color: #fff;
    }
    
    .newSalesArea{
        box-shadow: 0 0 10px rgba(173, 176, 180, 0.3);
        background-color: #fff;
    }
    
    .list-group-item:first-child{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .list-group-item:last-child{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .descText{
        color: #a8a8a8;
        font-size: 1rem;
    }
    
    .modal-header{
        background-color: #7a7c7f;
        color: #fff;
        border-bottom: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .modal-title{
        font-weight: 200;
    }
    
    .close{
        color: #fff;
    }
    
    .close:hover{
        color: rgb(192, 192, 192);
    }
    
    .btn{
        border-radius: 1.25rem;
    }
    
    .modal-content{
        border-radius: 0;
        border: 1px solid rgba(0,0,0,.1);
    }
    
    .w-90{
        width: 90%!important;
    }
    
    .w-60{
        width: 60%!important;
    }
    
    .h-30{
        width: 30%!important;
    }
    
    .w-20{
        width: 20%!important;
    }
    
    .w-10{
        width: 10%!important;
    }
    
    .w-5{
        width: 5%!important;
    }
    
    .h-30{
        height: 30%!important;
    }
    
    /*Responsive code*/
    @media (min-width: 576px) {
        
    }
    
    /*Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
        
    }
    
    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        
    }
    
    /*Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {
    
    }
</style>
<br />
<button class="backButton" onclick="location.href ='/PSITS/Administration'">Back</button>
    <!-- Bootstrap Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Logo Area -->
    <div class="d-flex flex-row justify-content-center">
        <img src='{{url_for("static",filename="images/PSITS_LOGO.png")}}' class="img-fluid logo p-3">
    </div>
    <input type="hidden" id="key" value="{{access_key}}">
    

    <!-- Graph -->
    <div class="container">
        <div class="d-flex flex-row pb-2">
            <h3>Sales Tracker</h3>
        </div>
        
        <!-- Yearly Number -->
        <div class="row">
            <div class="col-12 w-100">
                <div class="graphSec">
                    <h4 class="text-center pt-3">Yearly Revenue</h4>
                    <h1 class="text-center totalVal" id="yearlyTotal"></h1>
                </div>
            </div>
        </div>

        <!-- Charts -->
        <div class="row mt-3 mb-3">
            <div class="col-12 col-md-6 w-100 mb-4 mb-md-0">
                <div class="graphSec px-2">
                    <h4 class="text-center py-3">Monthly Sales</h4>
                    <canvas id="monthlySales" width="400" height="300"></canvas>
                </div>
            </div>
            <div class="col-12 col-md-6 w-100">
                <div class="graphSec px-2">
                    <h4 class="text-center py-3">Department Sales</h4>
                    <canvas id="deptSales" class="pb-2" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="d-flex flex-row pb-2">
            <h3>Orders Tracker</h3>
        </div>
        
        <!-- Yearly Number -->
        <div class="row">
            <div class="col-12 w-100">
                <div class="graphSec">
                    <h4 class="text-center pt-3">Yearly Orders</h4>
                    <h1 class="text-center totalVal" id="yearlyOrder"></h1>
                </div>
            </div>
        </div>

        <!-- Charts -->
        <div class="row mt-3 mb-3">
            <div class="col-12 col-md-6 w-100 mb-4 mb-md-0">
                <div class="graphSec px-2">
                    <h4 class="text-center py-3">Monthly Orders</h4>
                    <canvas id="monthlyOrders" width="400" height="300"></canvas>
                </div>
            </div>
            <div class="col-12 col-md-6 w-100">
                <div class="graphSec px-2">
                    <h4 class="text-center py-3">Department Orders</h4>
                    <canvas id="deptOrders" class="pb-2" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <!-- Graph -->
    <div class="container">
        <div class="d-flex flex-row pb-2">
            <h3>Members</h3>
        </div>
        
        <!-- Yearly Number -->
        <div class="row">
            <div class="col-12 w-100">
                <div class="graphSec">
                    <h4 class="text-center pt-3">Registered Accounts</h4>
                    <h1 class="text-center totalVal" id="registeredAccounts"></h1>
                </div>
            </div>
        </div>

        <!-- Charts -->
        <div class="row mt-3 mb-3">
            <div class="col-12 col-md-6 w-100 mb-4 mb-md-0">
                <div class="graphSec px-2">
                    <h4 class="text-center py-3">Courses</h4>
                    <canvas id="courses" width="400" height="300"></canvas>
                </div>
            </div>
            <div class="col-12 col-md-6 w-100">
                <div class="graphSec px-2">
                    <h4 class="text-center py-3">Year Level</h4>
                    <canvas id="levels" class="pb-2" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

	<!-- Bootstrap Files -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Chart JS -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>

    <!-- THIS SCRIPT WAS ADDED BY JAYHARRON -->
    <script src='{{url_for("static",filename="data_analytic.js")}}'></script>


{% endblock %}