{% extends 'base.html' %}
{% block content %}
<br /><br /><br class="line_1" /><br class="line_1" />
<a class="backButton" onclick="home()">Back</a>

<div class="welcome">
    <h3>PASSWORD RESET</h3>
</div>

<div class="form_modal">
    <div class="formHeader">
        <h3>PASSWORD RESET</h3>
    </div>
    <form method="post" action="/PSITS/ResetPassword">

        
        <div class="form_field">
            <i class="fa-solid fa-user"></i><input name="id_number" class="id_number" type="text" pattern="[0-9]{7,}" placeholder="I.D. No." required>
        </div>
        <p class="errorForm">{{message}}</p>
       
        <div class="form_field">

            <button type="submit">Send Email</button>

        </div>
        <br />
        <hr>
        <div class="form_field">

            <div class="registerSection">
                <p>Don’t have an account yet? </p><a onclick="register()">Register</a>
            </div>
        </div>
        <div class="form_field">

            <div class="registerSection">
                <p>Already have an account? </p><a onclick="location.href='/PSITS@Login'">Login here</a>
            </div>
        </div>

    </form>
</div>
<script>
    'use strict';
    
</script>
{% endblock %}