{% extends 'base.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js" integrity="sha512-LjPH94gotDTvKhoxqvR5xR2Nur8vO5RKelQmG52jlZo7SwI5WLYwDInPn1n8H9tR0zYqTqfNxWszUEy93cHHwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css" integrity="sha512-C4k/QrN4udgZnXStNFS5osxdhVECWyhMsK1pnlk+LkC7yJGCqoYxW4mH3/ZXLweODyzolwdWSqmmadudSHMRLA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="{{url_for('static', filename='cropper_js.js')}}"></script>
<style>
    .profile-container{
        position: relative;
        top: 0;
        width: auto;
        height: 70vh;
    }

    .profile-Card{
        position: relative;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        text-align: left;
        border: 2px solid black;
        border-radius: 20px;
        background-color: white;
    }

    .flex{
        display: flex;
        padding: 10px;
    }
    .profile-fields input, select{
        width: 185px;
        display:inline-block;
        border: 0px;
        border-bottom: 1px solid #c0c0c0;
        padding: 5px;
        font-size: 100%;
    }
    .profile-fields label{
        text-align: left;
        width: 100px;
        display:inline-block;
        font-size: 100%;
    }
    .profile-fields{
        padding: 3px;
    }
    .profile-section{
        width: auto;
    }

    #display-image{
        position: relative;
        display: block;
        max-width: 100%;
        width: 150px;
        height: 150px;
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        left: 50%; 
        transform: translateX(-50%);
        {% if account_data.img == ''%}
        background-image: url('https://via.placeholder.com/150x150');
        {% else %}
        background-image: url('{{ url_for('download_file', filename=account_data.img) }}');
        {% endif %}
    }

    #image-box{
        position: relative;
        display: block;
        max-width: 100%;
        width: 150px;
        height: 150px;
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        left: 50%; 
        transform: translateX(-50%);
        {% if account_data.img == ''%}
        background-image: url('https://via.placeholder.com/150x150');
        {% else %}
        background-image: url('{{ url_for('download_file', filename=account_data.img) }}');
        {% endif %}
    }

    .center{
        text-align: center;
    }

    .crop-modal{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: bisque;
        z-index: 12;
        width: 300px;
        height: 250px;
        display: none;
        padding: 20px;
    }

    .blur{
        filter: blur(5px);
    }

    @media only screen and (max-width: 500px) {
        #display-image{
            width: 100px;
            height: 100px;
        }

        .profile-fields input, select{
            font-size: 70%;
            width: 130px;
        }
        .profile-fields label{
            font-size: 70%;
            width: 70px;
        }

        .profile-Card{
            position: relative;
            transform: translate(-50%,-50%);
            width: 250px;
        }
        .profile-section{
            padding: 10px;
        }
    }
</style>
<br />
<button class="backButton" onclick="location.href='/'">Back</button>
<br /><br /><br />

<div class="crop-modal" id="crop-modal">
    <div id="image-box" style="width: 200px;">
                        
    </div>
    <br>
    <input class="normalButton" type="button" id="crop-btn" value="crop" style="display: none;">
</div>
<div id="profile-container" class="profile-container">
    <div class="profile-Card">
        <div>
            <div class="profile-section" style=" padding: 20px;" class="imgage">
                
                <input type="file" id="image-input" accept="image/jpeg, image/png, image/jpg" hidden>
                <br>
                <div style="text-align: center; width: 100%; cursor: pointer;">
                    
                    
                    <label for="image-input">
                        <img id="display-image">
                    </label>
                </div>
                
            </div>
            <div class="profile-section">
                <div class="profile-fields"><label>ID Number </label><input type="text" id="idnum" value="{{account_data.uid}}" disabled/></div>
                <div class="profile-fields"><label>RFID </label><input type="text" id="rfid" value="{{account_data.rfid}}"/></div>
                <div class="profile-fields"><label>Lastname </label><input type="text" id="lname" value="{{account_data.lastname}}"/></div>
                <div class="profile-fields"><label>Firstname </label><input type="text" id="fname" value="{{account_data.firstname}}"/></div>
                <div class="profile-fields"><label>Course </label>
                    <select class="center" value="{{account_data.course}}" id="course">
                        <option value="BSIT">BSIT</option>
                        <option value="BSCS">BSCS</option>
                    </select>
                </div>
                <div class="profile-fields"><label>Year </label>
                    <select class="center" id="year" value="{{account_data.year}}">
                        <option value="1"{% if account_data.year==1 %} selected="selected"{% endif %}>1st Year</option>
                        <option value="2"{% if account_data.year==2 %} selected="selected"{% endif %}>2nd Year</option>
                        <option value="3"{% if account_data.year==3 %} selected="selected"{% endif %}>3rd Year</option>
                        <option value="4"{% if account_data.year==4 %} selected="selected"{% endif %}>4th Year</option>
                        <option value="5"{% if account_data.year==5 %} selected="selected"{% endif %}>Alumni</option>
                    </select>
                </div>
                <br>
                <button style="position: relative;left: 50%; transform: translateX(-50%);" onclick="updateProfile()" class="normalButton">UPDATE</button>
                <br><br>
                <div style="text-align: center;"><p id="update-info" style="color: green;"></p></div>
                <br>
            </div>
        </div>
    </div>
</div>
<script>
    const image_input = document.querySelector("#image-box");
    image_input.addEventListener("change", function() {
    const reader = new FileReader();
    reader.addEventListener("load", () => {
        const uploaded_image = reader.result;
        document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
    });
    reader.readAsDataURL(this.files[0]);
    });
</script>
<script>
    'use strict';
    async function updateProfile(){

        let data = new FormData();

        data.append('stud_id', document.getElementById('idnum').value);
        data.append('rfid', document.getElementById('rfid').value);
        data.append('lname', document.getElementById('lname').value);
        data.append('fname', document.getElementById('fname').value);
        data.append('course', document.getElementById('course').value);
        data.append('year', document.getElementById('year').value);
        data.append('image', document.getElementById('image-input').files[0]);

        let response = await fetch('/PSITS/api/accounts', {
            method: 'POST',
            body: data
        });

        let response_data = await response.json();
        document.getElementById('update-info').innerHTML = response_data.message;

    }
</script>
<script>
	// image-box is the id of the div element that will store our cropping image preview
	const imagebox = document.getElementById('image-box')
        // crop-btn is the id of button that will trigger the event of change original file with cropped file.
	const crop_btn = document.getElementById('crop-btn')
	// id_image is the id of the input tag where we will upload the image
	const input = document.getElementById('image-input')

	// When user uploads the image this event will get triggered
	input.addEventListener('change', ()=>{
	  // Getting image file object from the input variable
	  const img_data = input.files[0]
	  // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
	  // The new object URL represents the specified File object or Blob object.
	  const url = URL.createObjectURL(img_data)
	  
	  // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
	  imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

	  // Storing that cropping view image in a variable
	  const image = document.getElementById('image')

	  // Displaying the image box
	  document.getElementById('image-box').style.display = 'block'
	  // Displaying the Crop buttton
	  document.getElementById('crop-btn').style.display = 'block'

      document.getElementById('crop-modal').style.display = 'block';
	  // Hiding the Post button
	  document.getElementById('update-info').style.display = 'none'

      document.getElementById('profile-container').classList.add('blur');

	  // Creating a croper object with the cropping view image
	  // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
	  // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
	  const cropper = new Cropper(image, {
        aspectRatio: 1,
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        minCropBoxWidth: 50,
        minCropBoxHeight: 50,
	  })

	  // When crop button is clicked this event will get triggered
	  crop_btn.addEventListener('click', ()=>{
	    // This method coverts the selected cropped image on the cropper canvas into a blob object
	    cropper.getCroppedCanvas().toBlob((blob)=>{
	      
	      // Gets the original image data
	      let fileInputElement = document.getElementById('image-input');
	      // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
	      let file = new File([blob], img_data.name,{type:"image/*", lastModified:new Date().getTime()});
	      // Create a new container
	      let container = new DataTransfer();
	      // Add the cropped image file to the container
	      container.items.add(file);
	      // Replace the original image file with the new cropped image file
	      fileInputElement.files = container.files;

          const reader = new FileReader();
          reader.addEventListener("load", () => {
                const uploaded_image = reader.result;
                document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
          });
          reader.readAsDataURL(container.files[0]);
	      // Hide the cropper box
	      document.getElementById('image-box').style.display = 'none'
	      // Hide the crop button
	      document.getElementById('crop-btn').style.display = 'none'
          document.getElementById('crop-modal').style.display = 'none';
          document.getElementById('profile-container').classList.remove('blur');
	      // Display the Post button
	      document.getElementById('update-info').style.display = 'block'
          document.getElementById('display-image').style.display = 'block'

	      });
	    });
	});	
</script>
<br /><br />

{% endblock %}