{% extends 'base.html' %}
{% block content %}
    <! -- This is for the background -->
    <div class="ann_bg_1"></div>
    <div class="ann_bg_2"></div>
    <! -- This is for the background -->
    <div style="position: relative; background-color: whitesmoke;">
        <div style="text-align: center;">
            <br><br><br><br>
            <h1 style="color: black;">Uh oh...</h1>
            <h1 style="color: black;">We could not find the page :/</h1>
            <p style="color: black;">{{message}}</p>
            <p style="height: 50vh;"></p>
        </div>
    </div>
{% endblock %}