{% extends 'base.html' %}
{% block content %}

<br />
<br />
<br />
<button class="normalButton" onclick="home()">Back</button>

   
   <br />

      <div class="tableTitle">
        <h1>Events List</h1>
      </div>

      <div class="warning">
        <center><h3 style="color:red;">Note: You cannot edit in mobile mode.</h3></center>

      </div>
         
       <br />
            <form action="" method="get">
              <div class="searchTable">
                <center>
            <input id="search_student" type="text" name="search" placeholder="SEARCH INFO | NAME" value="{{search}}">
            <button type="submit" class="normalButton"><div class="flexer" style="display:flex;"><i class="fa-sharp fa-solid fa-magnifying-glass"></i> <p class="hide"> Search</p></div></button>
            </center>
          </div>
          </form>
       
         
     
        <br>
        <div class="table">
          <table>
            <thead>
              <tr>
                <tr>
                  <th>UID</th>
                  <th>TITLE</th>
                  <th>DATE HELD</th>
                  <th class="hide">INFO</th>
                  <th  class="hide">IMAGE FILE</th>
                  <th  class="hide">ACTION</th>
                </tr>
              </tr>
            </thead>
            <tbody>
              {% for event in events %}
              <tr>

                <form method="post" action="">
                  <input name="idnum" id="{{event.uid}}idnum" type="text" value="{{event.uid}}" hidden>
                  <td><input name="uid" id="{{event.uid}}uid" type="text" value="{{event.uid}}" disabled></td>
                  <td><input name="title" id="{{event.uid}}title" type="text" value="{{event.title}}" disabled></td>
                  <td><input name="date_published" id="{{event.uid}}date_published" type="date" value="{{event.date_published}}" disabled></td>
                  <td  class="hide"><input name="information" id="{{event.uid}}information" type="text" value="{{event.information}}" disabled></td>
                  <td  class="hide"><input name="image_file" id="{{event.uid}}image_file" type="text" value="{{event.image_file}}" disabled></td>

                  <td  class="hide"><a id="{{event.uid}}edit" onclick="EDITEventList('{{event.uid}}')">✎</a><button id="{{event.uid}}save" type="submit" hidden>💾</button>  <a onclick="deleteEvent({{event.uid}})">❌</a></td>
                </form>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      <br>
      <br>
      <br>
      <br>
 
  

  

 
  <br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />



  <!-- <div>
    <div class="information_container">

      <div class="information_content">
        <h1>Events List</h1>
      </div>

        <div class="information_menu">
        <form action="" method="get">
          <div class="menu_item">
            <button type="reset" onclick="home()">PSITS</button>
            <button type="submit">Search</button>
            <input id="search_student" style="width: 40ch;" type="text" name="search" placeholder="SEARCH UID | TITLE ">
          </div>
        </form>
        </div>
        <br>
        <div class="information_content">
          <table>
            <thead>
              <tr>
                <th>UID</th>
                <th>TITLE</th>
                <th>DATE HELD</th>
                <th>INFO</th>
                <th>IMAGE FILE</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>

              {% for event in events %}
              <tr>

                <form method="post" action="">
                  <input name="idnum" id="{{event.uid}}idnum" type="text" value="{{event.uid}}" hidden>
                  <td><input name="uid" id="{{event.uid}}uid" type="text" value="{{event.uid}}" disabled></td>
                  <td><input name="title" id="{{event.uid}}title" type="text" value="{{event.title}}" disabled></td>
                  <td><input name="date_published" id="{{event.uid}}date_published" type="date" value="{{event.date_published}}" disabled></td>
                  <td><input name="information" id="{{event.uid}}information" type="text" value="{{event.information}}" disabled></td>
                  <td><input name="image_file" id="{{event.uid}}image_file" type="text" value="{{event.image_file}}" disabled></td>

                  <td><a id="{{event.uid}}edit" onclick="EDITEventList('{{event.uid}}')">✎</a><button id="{{event.uid}}save" type="submit" hidden>💾</button>  <a onclick="deleteEvent({{event.uid}})">❌</a></td>
                </form>
              </tr>
              {% endfor %}


            </tbody>
          </table>
        </div>

      <br>
      <br>
      <br>
      <br>

    </div>

  </div>
 -->

{% endblock %}