{% extends 'base.html' %}
{% block content %}
<br />
<button class="backButton" onclick="home()">Back</button>
<br />
<div class="merch_contents">
    <br>
    <br>
    <div class="announcement_title">
        <br /><br />
        <h1>Faculty Members</h1>
        <br /><br />
    </div>
    <div class="announcement_thread" style="display:{{admin}};">
        <form action="/PSITS@Faculty" method="post" enctype="multipart/form-data">
            <div class="announcement_field">
                <input type="text" name="name" placeholder="Member name [Dennis Durano]" required>
            </div>
            <br>
            <div class="announcement_field">
                <input type="text" name="position" placeholder="position [Comprog teacher...]" required>
            </div>

            <div class="announcement_field_content">
                <textarea name="description" cols="5" rows="5" required placeholder="Description..."></textarea>
            </div>
            <div class="announcement_field">
                <label for="job">Position:</label>
                <select name="job" required id="job">
                    <option value="FULL TIME">FULL TIME</option>
                    <option value="PART TIME">PART TIME</option>
                </select>

            </div>
            <br>
            <div class="announcement_field">
                <label for="file_input">Include image: <i>**Accept only PNG</i></label> <br />
                <input class="file_input" type="file" name="photo" accept=".png">
            </div>

            <hr>
            <div class="announcement_field">
                <button name="submit" type="submit" class="normalButton">Add Member</button>
            </div>
        </form>
    </div>


    <br />
    <br />
    <center><h1>FULL-TIME FACULTY MEMBERS</h1></center>
    <br />
    <br />
    
    <div class="faculty_container">

        <div class="faculty">
            {% for member in MEMBERS %}
            {% if member.job =='FULL TIME' %}
            <div class="faculty_member">
                <aside class="profile-card">
                    <div class="mask-shadow" ></div>
                    <header>

                        <!-- here’s the avatar -->
                        <a>
                            {% if member.image_src != '' %}
                            <img id="{{member.uid}}" loading="lazy"
                                src="{{ url_for('download_file', filename=member.image_src) }}">
                            {% else %}
                            <img id="{{member.uid}}" loading="lazy"
                                src="{{ url_for('static', filename='images/faculties/user.png') }}">
                            {% endif %}
                        </a>
                        <br />
                        <!-- the username -->
                        <h1>{{member.name}}</h1>

                        <!-- and role or location -->
                        <h2>{{member.position}} </h2>

                    </header>

                    <!-- bit of a bio; who are you? -->
                    <div class="profile-bio">
                        <p>{{member.job}}</p>
                        <p>{{member.description}}</p>
                    </div>
                </aside>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <br />
    <br />
    <hr>
    <br />
    <br />
    <center><h1>PART-TIME FACULTY MEMBERS</h1></center>
    <br />
    <br />
    
    <div class="faculty_container">

        <div class="faculty">
            {% for member in MEMBERS %}
            {% if member.job =='PART TIME' %}
            <div class="faculty_member">
                <aside class="profile-card">
                    <div class="mask-shadow" ></div>
                    <header>

                        <!-- here’s the avatar -->
                        <a>
                            {% if member.image_src != '' %}
                            <img id="{{member.uid}}" loading="lazy"
                                src="{{ url_for('download_file', filename=member.image_src) }}">
                            {% else %}
                            <img id="{{member.uid}}" loading="lazy"
                                src="{{ url_for('static', filename='images/faculties/user.png') }}">
                            {% endif %}
                        </a>
                        <br />
                        <!-- the username -->
                        <h1>{{member.name}}</h1>

                        <!-- and role or location -->
                        <h2>{{member.position}} </h2>

                    </header>

                    <!-- bit of a bio; who are you? -->
                    <div class="profile-bio">
                        <p>{{member.job}}</p>
                        <span>{{member.description}}</span>
                    </div>
                </aside>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <br/>
    <br/>
    {% endblock %}