{% extends 'base.html' %}
{% block content %}



<div class="dean">
    <div class="leftContent">
        <div class="imageContent">
        <img src="{{url_for('static', filename='images/faculties/fulltime/basabe.png')}}">
        <br>
        <br>
        <h3>Mr. Neil Basabe</h3>
        <h5>Dean</h5>
    </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="rightContent">
        <h3>Dean’s Welcome Message</h3>
   
        <span>
            First of all, I would like to congratulate the PSITS officers of A.Y. 2022-2023 and the adviser, Mr. Dennis Durano, for finally deploying a website for the organization and the students that they serve.

            I am pleased to extend a warm welcome to all new and continuing students of the College of Computer Studies at the University of Cebu. We are eager to start another semester with you, whether you are taking classes on campus or online.
            
            You, I, or any of your teachers have had to make a lot of adjustments this semester as we return to face-to-face instruction. Together, we are all learning how to function again in this supposed to be familiar environment made unfamiliar because of the Covid19 pandemic.  I do, however, wish to thank the entire college teachers and staff. Before the semester began, they worked incredibly hard to provide you with an education that is unmatched. I'm hoping this semester will go really well for all of you.
            
            Once more, welcome to the University of Cebu College of Computer Studies, where quality and globally competitive information technology and computer science education is right within your reach.
        </span>
    </div>
</div>

<div class="contents">

        

    <div class="announcement_content">
        <br>
        <br>
       
        <div class="announcement_thread" style="display:{{admin}};">
           
            <h1>ADMINISTRATION</h1>
            <hr>
            <br />
            <div class="adminActions">
            <div class="announcement_field">
                <button onclick="studentsInfo()" class="normalButton"><i class="fa-solid fa-user"></i> ACCOUNTS</button>
            </div>
            <br>
            <div class="announcement_field">
                <button onclick="showEvents()" class="normalButton"><i class="fa-solid fa-calendar-days"></i> EVENTS</button>
            </div>
            <br>
            <div class="announcement_field">
                <button onclick="location.href='/PSITS@MerchandiseOrdersList'" class="normalButton" > <i class="fa-sharp fa-solid fa-cart-shopping"></i> ORDERS</button>
            </div>
            <br>
            <div class="announcement_field">
                <button onclick="location.href='/PSITS@MerchandiseList'" class="normalButton"><i class="fa-solid fa-shirt"></i> MERCH</button>
            </div>
            <br>
            <div class="announcement_field">
                <button onclick="location.href='/PSITS@OfficerList'" class="normalButton"><i class="fa-solid fa-user"></i> OFFICERS</button>
            </div>
            <br>
            <div class="announcement_field">
                <button onclick="location.href='/PSITS@PrintingServiceAdmin'" class="normalButton"><i class="fa-solid fa-user"></i> PRINTING SERVICE</button>
            </div>
            <br>
            <div class="announcement_field">
                <button onclick="location.href='/PSITS@DataAnalytics'" class="normalButton"><i class="fa-solid fa-chart-mixed"></i> DATA ANALYTICS</button>
            </div>
            <br>
        </div>
        </div>

        <div class="announcement_title">
            <br /><br />
            <h1>ANNOUNCEMENTS</h1>
            <br /><br />
        </div>
        {% if account_data %}
        <div class="announcement_thread" style="display:{{admin}};">
            <form action="/PSITS@announce" method="post" enctype="multipart/form-data">
                <div class="announcement_field">
                    <input type="text" name="title" placeholder="Announcement Title" required>
                </div>

                <div class="announcement_field_content">
                    <textarea name="content" cols="5" rows="5" required placeholder="What's on your mind, {{account_data.firstname}}?"></textarea>
                </div>
                <div class="announcement_field">
                    <label for="file_input">Include image:  <i>**Accept only PNG</i></label> <br />
                    <input class="file_input" type="file" name="file" accept=".png" >
                </div>
       
                <hr>
                <div class="announcement_field">
                    <button name="submit" type="submit" class="normalButton">Post Announcement</button>
                </div>
            </form>
        </div>
        {% endif %}
        <br />

        {% for announcement in ANNOUNCEMENTS %}
        <div class="announcement_thread">
            <h2>{{announcement.title}}</h2>

            <h3>({{announcement.date}})</h3>
            <hr>
            <span class="contain-links">{{announcement.content}}</span>
            {% if announcement.image_location != '' %}
            <img class="announcement_image" id="{{announcement.uid}}" onclick="zoomPicture({{announcement.uid}})" loading="lazy"
                src="{{ url_for('download_file', filename=announcement.image_location) }}">
            {% endif %}
            <a style="display:{{admin}}" onclick="deleteAnnouncement({{announcement.uid}})" class="removePost" >Remove</a>
            <br />
            <br />
            <br />
        </div>
        {% endfor %}
        <br><br><br>
    </div>
    <hr>
    
    <div class="events">
        <h1>Links</h1>
        <div style="display: flex; padding: 5px;">
            <img style="height: 32px; width: 32px; margin-left: 20px; margin-right: 5px;" src="{{url_for("static",filename="images/uc.png")}}">
            <h3 style="padding: 5px;"><a style="color: black; text-decoration: none;" href="https://universityofcebu.ethinksites.com/" target="_blank">UC - Ethink</a></h3>
        </div>
        <div style="display: flex; padding: 5px;">
            <img style="height: 32px; width: 32px; margin-left: 20px; margin-right: 5px;" src="{{url_for("static",filename="images/uc.png")}}">
            <h3 style="padding: 5px;"><a style="color: black; text-decoration: none;" href="https://enrollment.uc.edu.ph/" target="_blank">UC - Enrollment</a></h3>
        </div>
        <div style="display: flex; padding: 5px;">
            <img style="height: 32px; width: 32px; margin-left: 20px; margin-right: 5px;" src="{{url_for("static",filename="images/CCS_LOGO.png")}}">
            <h3 style="padding: 5px;"><a style="color: black; text-decoration: none;" href="https://ccs.uc.edu.ph/" target="_blank">UC - CCS</a></h3>
        </div>
        <div style="display: flex; padding: 5px;">
            <img style="height: 32px; width: 32px; margin-left: 20px; margin-right: 5px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Facebook_icon_2013.svg/640px-Facebook_icon_2013.svg.png">
            <h3 style="padding: 5px;"><a style="color: black; text-decoration: none;" href="https://www.facebook.com/PSITS.UCmain" target="_blank">PSITS - UC MAIN</a></h3>
        </div>
        <br>
        <h1>Upcoming Events</h1>

   
            <button class="normalButton" style="display: {{admin}};" onclick="createNewEvent()"><i class="fa-solid fa-plus"></i> Add Event</button>
        
            <br />
        {% for event in events %}
            <div class="events_thread">
                <h2><i class="fa-sharp fa-solid fa-calendar-days"></i>{{ event.title }}</h2>
                <hr>
                <br />
                <span class="info contain-links">{{ event.information }}</span>
            </div>
        {% endfor %}
        <br>
    </div> 
  



</div>


{% endblock %}