{% extends 'base.html' %}
{% block content %}

    <! -- This is for the background -->
    <div class="ann_bg_1"></div>
    <div class="ann_bg_2"></div>
    <! -- This is for the background -->


    <div class="contents">

        <div class="announcement_content">
            <br>
            <div class="announcement_thread" style="background-color: rgba(0,0,0,0.65);display:{{admin}};">
                <br>
                <h1>ADMINISTRATION</h1>
                <div class="announcement_field">
                    <button onclick="studentsInfo()">STUDENTS</button>
                </div>
                <br>
                <div class="announcement_field">
                    <button onclick="showEvents()">EVENTS</button>
                </div>
                <br>
                <div class="announcement_field">
                    <button onclick="showOrders()">ORDERS</button>
                </div>
                <br>
            </div>

            <div class="announcement_title">
                <h1>Announcements!</h1>
            </div>

            <div class="announcement_thread" style="background-color: rgba(0,0,0,0.65);display:{{admin}};">
                <form action="/PSITS@announce" method="post" enctype="multipart/form-data">
                    <div class="announcement_field">
                        <input type="text" name="title" placeholder="Announcement Title">
                    </div>

                    <div class="announcement_field_content">
                        <textarea name="content" cols="5" rows="5"></textarea>
                    </div>
                    <div class="announcement_field">
                        <input class="file_input" type="file" name="file">
                    </div>
                    <div class="announcement_field">
                        <p style="color: white; text-align: center;">Accept only PNG</p>
                    </div>

                    <div class="announcement_field">
                        <button name="submit" type="submit">Post Announcement</button>
                    </div>

                </form>
            </div>

            {% for announcement in ANNOUNCEMENTS %}
            <div class="announcement_thread">
                <h2>{{announcement.title}}</h2>
                <h3>({{announcement.date}})</h3>
                <span>{{announcement.content}}</span>
                {% if announcement.image_location != '' %}
                <img class="announcement_image" src="{{ url_for('download_file', filename=announcement.image_location) }}">
                {% endif %}
                <a style="display:{{admin}}"  onclick="deleteAnnouncement({{announcement.uid}})">Remove</a>
            </div>
            {% endfor %}
            <br><br><br>
        </div>

        <div class="events">
            <h1>Upcoming Events</h1>
            <div class="events_thread" style="display: {{admin}};">
                <button onclick="createNewEvent()">Add Event</button>
            </div>
            {% for event in events %}
                {% if event.requirePayment() and account_data !=null %}
                <div class="events_thread" style="cursor:pointer;" onclick="location.href='/PSITS@OrderForm/{{event.uid}}'">
                    <h2>{{ event.title }}</h2>
                    <span>{{ event.info }}</span>
                </div>
                {% elif event.requirePayment() %}
                <div class="events_thread" style="cursor:pointer;" onclick="location.href='/PSITS@Login'">
                    <h2>{{ event.title }}</h2>
                    <span>{{ event.info }}</span>
                </div>
                {% else %}
                <div class="events_thread">
                    <h2>{{ event.title }}</h2>
                    <span>{{ event.info }}</span>
                </div>
                {% endif %}
            {% endfor %}
            <br>

            <div class="copyright show_on_small_screen">

                <p>PSITS &copy; 2022 - Developed by <a href="">Abejar and Company</a></p>
            </div>
        </div>


    </div>
    <div class="copyright hide_on_small_screen">

        <p>PSITS &copy; 2022 - Developed by <a href="">Abejar and Company</a></p>
    </div>

{% endblock %}