{% extends 'base.html' %}
{% block content %}
<br /><br /><br class="line_1" /><br class="line_1" />
<a class="backButton" onclick="home()">Back</a>

<div class="welcome">
    <h1>WELCOME TO PSITS MAIN PORTAL!</h1>
</div>

<div class="form_modal">
    <div class="formHeader">
        <h3>LOG IN</h3>
    </div>
    <form method="post" action="/PSITSLogin">

        
        <div class="form_field">
            <i class="fa-solid fa-user"></i><input name="id_number" class="id_number" type="text" pattern="[0-9]{7,}" placeholder="I.D. No." required>
        </div>

        <div class="form_field">
            <i class="fa-solid fa-lock"></i><input name="password" class="password" id="password" type="password" placeholder="Password" required>
            <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
        </div>
        <p class="errorForm">{{message}}</p>
       
        <div class="form_field">

            <button type="submit">Login</button>

        </div>
        <br />
        <hr>
        <div class="form_field">

            <div class="registerSection">
                <p>Don’t have an account yet? </p><a onclick="register()">Register</a>
            </div>
        </div>
        <div class="form_field">

            <div class="registerSection">
                <p>Forgot password? </p><a onclick="resetPassword()">Reset Password</a>
            </div>
        </div>

    </form>
</div>
<script>
    'use strict';
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        // toggle the icon
        this.classList.toggle("fa-eye");
    });

    function resetPassword(){
        location.href = '/PSITS/ResetPassword';
    }
</script>
{% endblock %}