{% extends 'base.html'%}
{% block content %}
<br />
<button class="backButton" onclick="merchandise()">Back</button>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="merch_product_individual">
    <div class="leftContent">
        <img loading="lazy" class="fade-in-left" src="{{ url_for('download_file', filename=product.image_file) }}">
    </div>
    <hr>
    <div class="rightContent fade-in-right">
        <h3 class="PSITS_title">PSITS</h3>
        <h1 class="merch_title">{{product.title}}<br></h1>
        <br />
        <br />
        <p class="merch_description">Description:</p>
        <span class="merch_info" style="white-space: pre-line;">{{product.info}}</span>
        <p class="merch_price">₱ {{product.price}}<br></p>
        <p><i class="fa-solid fa-tag"></i> Discount: {{product.discount}}%<br></p> <br />
        <p>STOCK: {{product.stock}}</p> <br />
        <form action="/PSITS@Order" class="additional_info" method="post">
             <input type="hidden" id="merch_id" name="merch_id" value="{{product.uid}}">
             <input type="hidden" id="merch_stock" name="merch_stock" value="{{product.stock}}">
            {% if (status == "ORDERED") %}
            <label>You already ordered this item</label>
                {% if cancel_days > 0 %}
                    <p style="color: blue;">You have {{cancel_days}} day{{'s' if cancel_days > 1 else ''}} to cancel this order</p>
                    <button class="normalButton" onclick="disable(this);location.href='/PSITS@RequestCancel/{{order_id}}/{{product.uid}}'" type="reset">CANCEL</button>
                {% else %}
                    <p style="color: red;">You can no longer cancel this order</p>
                {% endif %}
            {% elif (status == "PAID") %}
                <p>You already have paid this item, <br>please wait for announcements for claiming of item</p>
                <p style="color: red;">You can no longer cancel this order</p>
            {% else %}
                {% if product.stock == 0 %}
                    <p style="color: red;">Out Of Stock</p>
                {% else %}
                <label for="quantity"><i class="fa-solid fa-hashtag"></i> Quantity: </label>
                <select name="quantity" id="quantity" onchange="checkStockOverOrder()">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select><br />
                <br />
                <label for="additional_info">Additional Info</label><br />
                <textarea name="additional_info" id="additional_info" type="text" placeholder="Size,color,etc.."/></textarea>
                <br >
                <br>
                <input type="submit" class="normalButton" value="Order" onclick="disable(this)" id="submitBTN">
                <button class="normalButton" onclick="merchandise()"><a href="{{url_for('psits_merchandise')}}">Cancel</a></button>
                {% endif %}
            {% endif %}
        </form>
        

    </div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}