{% extends 'base.html' %}
{% block content %}





<div class="merch_contents">
        <br>
        <br>
        <div class="announcement_title">
            <br /><br />
            <h1>MERCHANDISE!</h1>
            <br /><br />
        </div>

        <br />
        <div class="merch_container">
        <div class="merch">
        {% for merch in all_merch %}
        <div class="product">

            {% if merch.image_file != '' %}


            <img class="merch_product" id="{{merch.uid}}" onclick="zoomPicture({{merch.uid}})" loading="lazy"
                src="{{ url_for('download_file', filename=merch.image_file) }}">
            {% endif %}
            <h2 class="title">{{merch.title}}</h2>
            <br>
            <hr>
            <!-- <span class="info">{{merch.info}}</span> -->
            <p class="price">₱{{merch.price}} </p>
            {% if merch.discount > 0 %}
            <p class="promo">Promo: {{merch.discount}}% discount! limited only</p>
            {% endif %}
            <p class="stock">Stock: {{merch.stock}} PCS </p>
            <br />
   
            <button class="normalButton">ORDER NOW</button>
       
        </div>
        <!-- {% if loop.index%3 == 0 %}
        <hr>
        
        {% endif %} -->
        {% endfor %}
        <br><br><br>
    </div>
    </div>
</div>






{% endblock %}