{% extends 'base.html' %}
{% block content %}
<script defer src="{{url_for('static', filename='transaction.js')}}">
</script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<style>
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: cornflowerblue transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(45, 204, 164, 0.8);
    padding: 30px;
    border-radius: 5px;
  }

  .handle-modal{
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 55%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    z-index: 10;
    border: 3px dotted black;
    font-size: 15px;
  }

  ._center{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .autoWidth{
      display: inline-block;
      width: 300px;
      border: 2px solid gray; 
      padding: 10px; 
      margin: 10px;
  }

  .flex{
    display: flex;
  }

  .search-container{
    display: flex;
    padding: 10px;
    width: 400px;
  }

  .search-container .inputFld{
    width: auto;
    border: 1px solid black; 
    padding: 5px
  }

  .blur{
    filter: blur(5px);
  }

  .information-message{
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    width: auto;
    padding: 20px;
    background-color: lightyellow;
    margin: 10px;
    border-radius: 10px;
    border: 5px solid darkgoldenrod;
  }

  .update-message{
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    width: auto;
    padding: 5px;
    background-color: lightcyan;
    margin: 10px;
    border-radius: 10px;
    border: 5px solid lightskyblue;
    text-align: center;
  }

  .information-container label, input, textarea, select{
    font-size: 13px;
    padding: 8px;
  }

  .information-container label{
    display: inline-block;
    width: 30%;
  }

  .information-container input, select{
    width: 65%;
  }

  .information-container textarea{
    background-color: aliceblue;
    width: 100%;
    resize: none;
    border: 2px solid black;
    border-radius: 10px;
    height: 100px;
  }

  .small-mobile{
    font-size: normal;
  }

  @media(max-width: 800px) {
    .small-mobile{
      font-size: x-small;
    }
  }

  .camera{
    width:500px;
  }

  .deleteModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 290px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px;
    padding: 20px;
    z-index: 12;
  }

  .qr_code{
    width: 275px; 
    height: 275px;
  }

  .showOnDesktop{
    display: block;
  }

  .showOnMobile{
    display: none;
  }

  @media(max-width: 500px) {
    .handle-modal{
      position: fixed;
      left: 50%;
      transform: translate(-50%,-50%);
      top: 55%;
      padding: 0px;
      background-color: white;
      border-radius: 10px;
      z-index: 10;
      border: 3px dotted black;
      font-size: 8px;
    }
    .autoWidth{
      display: inline-block;
      width: 150px;
      border: 2px solid gray; 
      padding: 5px; 
      margin: 5px;
    }
    .search-container{
      display: block;
      padding: 10px;
      width: 150px;
    }
    .search-container .inputFld{
      width: 100%;
      border: 1px solid black; 
      font-size: 10px;
    }
    .normalButton{
      font-size: 8px;
    }

    .showOnDesktop{
      display: none;
    }
  
    .showOnMobile{
      display: block;
    }

    .qr_code{
      width: 130px; 
      height: 130px;
      object-fit: cover;
      overflow: hidden;
    }

    .information-container label, input, textarea, select{
      padding: 2px;
      font-size: 8px;
    }
  
    .information-container label{
      display: inline-block;
      width: 35%;
    }
  
    .information-container input, select{
      width: 55%;
    }
    .information-container textarea{
      background-color: aliceblue;
      width: 90%;
      resize: none;
      border: 2px solid black;
      border-radius: 10px;
      height: 30px;
    }

    .camera{
      width:230px;
    }

  }

  .dropdown{
    display: inline-block;
    cursor: help;
    
  }
  .dropdown .dropdown-content{
    display: none;
    transition: all 4s;
  }
  .dropdown:hover .dropdown-content{
    display: inline-block;
  }


</style>
<div id="info_box" onclick="hide(this);" class="loading_box" style="display: none;position: fixed; z-index: 11;">
  <div id="info_load" style="align-content: center; left:50%; transform: translateX(-50%); " class="lds-ring"><div></div><div></div><div></div><div></div></div>
  <h1 id="info_message" style="text-align: center;">Loading... </h1>
  <p style="text-align: center; color:rgb(21, 84, 156);">.. Click to hide ..</p>
</div>

<div id="deleteModal" class="deleteModal" style="display: none;">
  <div style="text-align: center;">
    <h3 id="deleteModalInfo"></h3>
    <br>
    <p>Admin ID</p>
    <input style="text-align: center;" type="text" id="userid" value="{{account_data.uid}}">
    <p>Password</p>
    <input style="text-align: center;" type="password" id="delmodalpass" placeholder="confirmation password"><br><br>
    <input type="password" id="delmodalkey" hidden>
    <input type="password" id="delmodalref" hidden>
    <button class="backButton" id="deleteModalBtn" onclick="delete_transaction();">DELETE</button><button class="backButton" onclick="hide(document.getElementById('deleteModal'));document.getElementById('transaction_ui').classList.remove('blur');">CANCEL</button>
    <br><br>
    <p style="color: red;" id="delModalInfoMsg"></p>
  </div>
</div>

<div  class="handle-modal flex hide" id="qr-modal" style="display: none; z-index: 999;">
  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  <script src="{{url_for('static', filename='html5-qrcode.js')}}"></script>
  <style>
      .result{
        background-color: green;
        color:#fff;
        padding:20px;
      }
      .row{
        display:flex;
      }
    </style>
    <div class="row">
      <div class="col">
        <div class="camera" id="reader"></div>
      </div>
    </div>
    <button title="close" type="button" onclick="closeScanner()" class="normalButton"><i class="fa fa-times" aria-hidden="true"></i></button> 
    <script type="text/javascript">
    let oldQr = '';
    function onScanSuccess(qrCodeMessage) {
      
      if(oldQr === qrCodeMessage)
        return;
      search_individual_transaction(qrCodeMessage,document.getElementById('secret_key').value);
      oldQr = qrCodeMessage;
      closeScanner();
    }
    function onScanError(errorMessage) {
      //handle scan error
    }
    var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 1, qrbox: 250 });
    
    function closeScanner(){
      try{
        document.getElementById('qr-modal').style.display = 'none';
        html5QrcodeScanner.clear()
      }catch(e){}
    }
    function runScanner(){
      html5QrcodeScanner.render(onScanSuccess, onScanError);
    }
  </script>
</div>

<div class="handle-modal flex hide" id="order-modal" style="display: none;">
  <div class="reciept">
    <div class=" autoWidth">
      <h1 style="text-align: center;">PSITS Receipt</h1>
      <br />
      <div id="qrcode" class="qr_code"></div>
      <h3 id="fld_reference" style="text-align: center; font-size: 200%;"></h3>
      <br />
      <hr>
      <br />
      <div style="display: flex;">
          <label>Buyer: </label><a id="fld_buyer" style="color:dodgerblue; padding-left: 5px; text-align: right; width: 100%;"></a>
      </div>
      <div style="display: flex;">
          <label>Product: </label><a id="fld_product" style="color:dodgerblue;  padding-left: 5px; text-align: right; width: 100%;"></a>
      </div>
      <div style="display: flex;">
          <label style="width:  50%;">Original-Price: </label><a id="fld_orig_price" style="color:dodgerblue; padding-left: 5px; text-align: right; width: 50%;"></a>
      </div>
      <div style="display: flex;">
          <label >Discounted Price: </label><a id="fld_discount_price" style="color:dodgerblue; padding-left: 5px; text-align: right; width: 51%;"></a>
      </div>
      <div style="display: flex;">
          <label >Purchase-Date: </label><a id="fld_p_date" style="color:dodgerblue; padding-left: 5px; text-align: right; width: 57%;"></a>
      </div>
      <div style="display: flex;">
          <label >Quantity: </label><a id="fld_qty" style="color:dodgerblue;  padding-left: 5px; text-align: right; width: 100%;"></a>
      </div>
      <br />
      <hr>
      <br />
      <div style="display: flex;">
          <label >Total: </label><a id="fld_total" style="color:dodgerblue;  padding-left: 5px; text-align: right; width: 100%;"></a>
      </div>
      <div style="display: flex;">
          <label >Status: </label><a id="fld_status" style="color:red;  padding-left: 5px; text-align: right; width: 100%;"></a>
      </div>
      <br />
      <hr>
      <br />
      <a class="normalButton" style="display: flex;" onclick="Print()" target="_blank">Print Receipt</a>
    </div>
  </div>
  <div class="form">
    <p class="information-message">
      For best searching result, it is highly recommended to enter the reference code since it is distinct.
    </p>
    <div class="search-container">
      <input id="handle_search" class="inputFld" type="text" name="search" placeholder=" REFERENCE CODE" value="">
      <div class="showOnDesktop">
        <button title="search reference code" type="button" onclick="search_individual_transaction(document.getElementById('handle_search').value,document.getElementById('secret_key').value)" class="normalButton"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        <button title="scan qr code" type="button" onclick="document.getElementById('qr-modal').style.display = 'flex';runScanner();" class="normalButton"><i class="fa-solid fa-qrcode"></i></button>
        <button title="close" type="button" onclick="hideModal()" class="normalButton"><i class="fa fa-times" aria-hidden="true"></i></button>     
      </div>
    </div>
    <div class="showOnMobile">
      <button title="search reference code" type="button" onclick="search_individual_transaction(document.getElementById('handle_search').value,document.getElementById('secret_key').value)" class="normalButton"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
      <button title="scan qr code" type="button" onclick="document.getElementById('qr-modal').style.display = 'flex';runScanner();" class="normalButton"><i class="fa-solid fa-qrcode"></i></button>
      <button title="close" type="button" onclick="hideModal()" class="normalButton"><i class="fa fa-times" aria-hidden="true"></i></button>     
    </div>
    <div class="information-container">
      <br>
      <label>Customer:&nbsp;</label><input id="info_buyer" type="text" disabled/><br>
      <label>Product:&nbsp;</label><input id="info_product" type="text" disabled/><br>
      <label>Price:&nbsp;</label><input id="info_price" type="text" disabled/><br>
      <label>Discounted Price:&nbsp;</label><input id="info_discounted_price" type="text" disabled/><br><br>
      <label>Information:&nbsp;</label><br><textarea id="info_info" type="text" disabled></textarea><br>
      <label>Quantity:&nbsp;</label><input id="info_quantity" onchange="updateReceiptEvent()" oninput="updateReceiptEvent()" type="number" disabled/><br>
      <label>Status:&nbsp;</label>
      <select id="info_status" value="NONE" onchange="updateReceiptEvent()" disabled>
        <option value="NONE" selected disabled>-</option>
        <option value="ORDERED">ORDERED</option>
        <option value="PAID">PAID</option>
        <option value="CLAIMED">CLAIMED</option>
        <option value="CANCELLED">CANCELLED</option>
      </select><br>
      <br>
      <button class="normalButton" style="display: flex;" onclick="updateOrder('{{key}}')">UPDATE ORDER</button><p class="update-message" id="updateMessage" style="display: none;">Success Update</p>
    </div>
  </div>
</div>

<br />
<br />
<br />
<div id="transaction_ui">
<button class="normalButton" onclick="home()">Back</button>

   
   <br />

      <div class="tableTitle">
        <h1>Orders List</h1>
      </div>
      <br>
      <div class="" style="position: relative ;display: inline-block; left: 50%; transform:translateX(-50%);">
        <span class="small-mobile hide" style="padding: 5px;color:black; white-space: pre-line; justify-content: left; text-align: left;"><b style="font-size: 120%;">Enhanced Searching Mode</b>

          <div class="dropdown-content">
            <span title="These are advanced searching methods"  style="white-space: pre-line; justify-content: left;">
              ‣<a style="color: green;">'all'</a> - Search all orders
              ‣<a style="color: green;">'all: [STATUS]'</a> - Search all orders with specific status
              ‣<a style="color: green;">'all: [STATUS] : size : [size]'</a> - Search all orders with specific status and size
              ‣<a style="color: rgb(141, 58, 219);">'all: !cancelled'</a> - You can use !(not) operator on status to filter the opposite

              ‣<a style="color: green;">'student: [NAME]'</a> - Search all orders with specific student 
              ‣<a style="color: green;">'student: [NAME] : [STATUS]'</a> - Search all orders with specific student and status
              ‣<a style="color: green;">'merch: [TITLE]'</a> - Search all orders with specific merchandise
              ‣<a style="color: green;">'merch: [TITLE] : [STATUS]'</a> - Search all orders with specific merchandise and status
              ‣<a style="color: green;">'merch: [TITLE] : [STATUS] : size : [size]'</a> - Search all orders with specific merchandise, status and size
              
            </span>
          </div>

          <a style="color: rgb(161, 10, 116)"><b>When dealing with individual transactions, it is recommended to go to 'Handle Transaction' mode</b></a>
        </span>
      </div>
 

      <div class="warning">
        <center><h3 style="color:red;">Note: You cannot edit in mobile mode.</h3></center>

      </div>
      <br>
      
      
    
       <br />
          
              
              <div class="searchTable">
                <center>
                  
                  <button title="Generate a data from search, it downloads an excel file" type="button" onclick="loadCSVTemplate('orders',document.getElementById('search_student').value)" class="normalButton"> <div class="flexer" style="display:flex;"><i class="fa-sharp fa-solid fa-file-export"></i> <p class="hide">&nbsp;CSV</p></div></button>
                  <button title="Display the data analytics" type="button" onclick="location.href='/PSITS@DataAnalytics'" class="normalButton"> <div class="flexer" style="display:flex;"><i class="fas fa-chart-bar"></i> <p class="hide">&nbsp;Charts</p></div></button>
                  <button title="Transact one at a time" type="button" onclick="showModal()" class="normalButton"> <div class="flexer" style="display:flex;"><i class="fa-solid fa-scroll"></i><p class="hide">&nbsp;HANDLE</p></div></button>
                  
                  <br><br>
                  <input id="search_student" type="text" name="search" placeholder="REFERENCE|merch:[param]:[status]|student:[param]:[status]" value="{{search}}" required>
                  <input id="secret_key" type="hidden" value="{{key}}">  
                  <button title="Search by multiple transactions" type="button" onclick="search_transaction(document.getElementById('search_student').value,document.getElementById('secret_key').value); return;" class="normalButton"><div class="flexer" style="display:flex;"><i class="fa-sharp fa-solid fa-magnifying-glass"></i> <p class="hide">&nbsp;Search</p></div></button>
                </center>
              </div>
         
       <br />
          <div class="tableTitle">
            <!--
              Old JINJA TAGS, I REMOVED THIS BECAUSE THE USER KEEPS ON RELOADING THE WHOLE PAGE, IT IS INEFFICIENT
            <h1 style="color: orange; font-size:120%;"> Orders: ₱ '%0.2f'| format(reserve|float)  |  Total: ₱ '%0.2f'| format(paid|float) / '%0.2f'| format(total|float)  </h1>
            -->
            <div style="position: relative;width: 90%; left: 50%; transform: translateX(-50%);">
              <hr><br>
              <h1 style="color: orange; font-size:100%;">Orders: ₱<a title="accounts receivable" style="color: rgb(184, 28, 106);" id="display_reserve"></a></h1><br>
              <h1 style="color: orange; font-size:100%;">Paid: <a title="cash on hand" style="color: rgb(39, 210, 223); font-size:100%;" id="display_paid"></a></h1><br>
              <h1 style="color: orange; font-size:100%;">Total: <a title="overall total when all orders are paid"  style="color: green; font-size:100%;" id="display_total"></a></h1>
              <br>
              <hr>
              
              <div class="dropdown">
                <p>Filters: </p>
                <div class="dropdown-content">
                  <span title="This only scans order's additional info if it contains 'Size: #' that are not cancelled" id="filter-message" style="white-space: pre-line; justify-content: left;"></span>
                </div>
              </div>
              <hr>
            </div>
          </div>
          <br />
          
        <br>
        <div class="table">
          <form id="form_body" method="post" action="">
          <table>
            <thead>
              <tr>
                <th> #</th>
                <th class="hide">REF #</th>
                <th>NAME</th>
                <th>PRODUCT</th>
                <th class="hide">ADD INFO.</th>
                <th class="hide">SIZE</th>
                <th class="hide">QUANTITY</th>
                <th class="hide">AMOUNT</th>
                <th>STATUS</th>
                <th class="hide">ACTION</th>
              </tr>
            </thead>
            <tbody id="table_body" name="table_body">

            </tbody>
          </table>
          </form>
        </div>
        <br/ >
        <!--
          <p style="text-align: center; color: red;">Only the top 100 in the list are displayed</p>
        -->
        <p style="text-align: center; color: rgb(9, 107, 107); font-weight: 500;">All orders will be listed</p>
      <br>
      <br>
      <br>
      <br>
        <script>
          function loadAPI(){
            setAPI_LINK('{{api_link}}');
            search_transaction(document.getElementById('search_student').value,document.getElementById('secret_key').value);
          }

          function GetReceiptRef(){
            return document.getElementById('fld_reference').innerHTML;
          }

          function PrintReceipt(){
            window.open( 
              `/PSITS/Orders/Receipt/${GetReceiptRef()}?print=True`, "_blank");
          }
          function Print(){
            var myWindow=window.open(`/PSITS/Orders/Receipt/${GetReceiptRef()}?print=True`,'','width=210,height=700,margin=0');
            //myWindow.document.write("<p>This is 'myWindow'</p>");
            
            //myWindow.document.close();
            //myWindow.focus();
          }
        </script>
  <br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
</div>
{% endblock %}