{% extends 'base.html' %}
{% block content %}

 
<br />

<button class="backButton"><a onclick="home()">Back</a></button>

<div class="merch_contents">
        <br>
        <br>
        <div class="announcement_title">
            <br /><br />
            <h1>PSITS MERCHANDISE</h1>
            <br /><br />
        </div>

        <br />
        <button class="backButton"><i class="fa-solid fa-cart-shopping"></i> My Orders</button>
        <div class="merch_container">
        
        <div class="merch">
        {% for merch in all_merch %}
        <div class="product">

            {% if merch.image_file != '' %}


            <img class="merch_product" id="{{merch.uid}}" onclick="zoomPicture({{merch.uid}})" loading="lazy"
                src="{{ url_for('download_file', filename=merch.image_file) }}">
            {% endif %}
            <h2 class="title">{{merch.title}}</h2>
            <br>
            <hr>
            
            <p class="price">₱{{merch.price}} </p>
            {% if merch.discount > 0 %}

            {% endif %}
            <p class="stock">Stock: {{merch.stock}} PCS </p>
            <br />
   
            <button class="normalButton"><a href="{{url_for('psits_merchandise_product', uid=merch.uid)}}">ORDER NOW</a></button>
       
        </div>
        <!-- {% if loop.index%3 == 0 %}
        <hr>
        
        {% endif %} -->
        {% endfor %}
        <br><br><br>
    </div>
    </div>
</div>






{% endblock %}