{% extends 'base.html'%}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<br />
<button class="backButton" onclick="merchandise()">Back</button>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="merch_product_individual">
    <div class="leftContent">
        {% if img_extras|length > 0%}
        <div class="container" style="width: 100%;background-color: white;height: 100%;">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators" style="z-index: 0;">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                
                    {% for index in range(0,img_extras|length) %}
                        <li data-target="#myCarousel" data-slide-to=index></li>
                    {% endfor %}
                
              </ol>
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner" style="background-color: white; height: 100%;">
                <div class="item active" style="height: 100%;">
                    <img src="{{ url_for('download_file', filename=product.image_file) }}" alt="">
                  </div>
                
                    {% for item in img_extras %}
                        <div class="item" style="height:100%;">
                            <img src="{{url_for('download_file', filename=item)}}" alt="">
                        </div>
                    {% endfor %}
                
              </div>
          
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          {% else %}
            <img loading="lazy" class="fade-in-left" src="{{ url_for('download_file', filename=product.image_file) }}">
          {% endif %}
        <!--<img loading="lazy" class="fade-in-left" src="{{ url_for('download_file', filename=product.image_file) }}">-->
    </div>
    <hr>
    <div class="rightContent fade-in-right">
        <h3 class="PSITS_title">PSITS</h3>
        <h1 class="merch_title">{{product.title}}<br></h1>
        <br />
        <br />
        <p class="merch_description">Description:</p>
        <span class="merch_info" style="white-space: pre-line;">{{product.info}}</span>


        {% if product.discount > 0 %}
        <p class="merch_price"><s>₱{{product.price}}</s> ₱{{'%0.2f'| format((product.price|float) - ((product.price|float)*(product.discount/100.0)))}}</p>
        <p><i class="fa-solid fa-tag"></i> Discount: {{product.discount}}%<br></p> <br />
        {% else %}
        <p class="merch_price">₱{{product.price}} </p>
        {% endif %}
        


        <p>STOCK: {{product.stock}}</p> <br />


        <form action="/PSITS@Order" class="additional_info" method="post">
             <input type="hidden" id="merch_id" name="merch_id" value="{{product.uid}}">
             <input type="hidden" id="merch_stock" name="merch_stock" value="{{product.stock}}">
            {% if (status == "ORDERED") %}
            <label>You already ordered this item</label>
                {% if cancel_days > 0 %}
                    <p style="color: blue;">You have {{cancel_days}} day{{'s' if cancel_days > 1 else ''}} to cancel this order</p>
                    <button class="normalButton" onclick="disable(this);location.href='/PSITS@RequestCancel/{{order_id}}'" type="reset">CANCEL</button>
                    <button class="normalButton" onclick="disable(this);location.href='/PSITS/Orders/Receipt/{{order_id}}'" type="reset">RECEIPT</button>
                {% else %}
                    <p style="color: red;">You can no longer cancel this order</p>
                    <button class="normalButton" onclick="disable(this);location.href='/PSITS/Orders/Receipt/{{order_id}}'" type="reset">RECEIPT</button>
                {% endif %}
            {% elif (status == "PAID") %}
                <p>You already have paid this item, <br>please wait for announcements for claiming of item</p>
                <p style="color: red;">You can no longer cancel this order</p>
                <button class="normalButton" onclick="disable(this);location.href='/PSITS/Orders/Receipt/{{order_id}}'" type="reset">RECEIPT</button>
            {% else %}
                {% if product.stock == 0 %}
                    <p style="color: red;">Out Of Stock</p>
                {% else %}
                <label for="quantity"><i class="fa-solid fa-hashtag"></i> Quantity: </label>
                <select name="quantity" id="quantity" onchange="checkStockOverOrder()">
                    {% if 'Ticket' in product.title or 'ticket' in product.title or 'shirt' in product.title or 'Shirt' in product.title or 'lanyard' in product.title or 'Lanyard' in product.title or 'hood' in product.title or 'Hood' in product.title %}
                        <option value="1">1</option>
                        <option value="2">2</option>
                    {% else %}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="5">6</option>
                        <option value="5">7</option>
                        <option value="5">8</option>
                        <option value="5">9</option>
                        <option value="5">10</option>
                    {% endif %}
                </select><br />
                <br />
                <label for="additional_info">Additional Info (Enter only applicable)</label><br />
                {% if 'shirt' in product.title.lower() or 'hood' in product.title.lower() or 'jacket' in product.title.lower() %}
                <label for="sizes">Size:&nbsp;&nbsp;&nbsp;</label><select id="sizes" onchange="updateInformation()">
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="18">20</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select><br>
                <label for="colors">Color:&nbsp;&nbsp;&nbsp;</label><input id="colors" type="text" oninput="updateInformation()" placeholder="Enter color [if applicable]"><br>
                <label for="types">Type:&nbsp;&nbsp;&nbsp;</label><input id="types" type="text" oninput="updateInformation()"  placeholder="Enter type [if applicable]">
                {% endif %}
                <textarea name="additional_info" id="additional_info" type="text" placeholder="Size,color,etc.." {{ 'hidden' if 'shirt' in product.title.lower() or 'hood' in product.title.lower() or 'jacket' in product.title.lower() }}></textarea>
                <br >
                <label for="promocode">Promo Code: </label><input style="padding-left: 5px;" type="text" name="promocode" id="promocode" placeholder="Enter code here..." />
                <br>
                <br />
                <button type="submit" class="normalButton" onclick="updateInformation();disable(this)" id="submitBTN">Order</button>
                <button type="reset" class="normalButton" onclick="merchandise()"><a href="{{url_for('psits_merchandise')}}">Cancel</a></button>
                {% endif %}
            {% endif %}
        </form>
        
        <script>
            'use strict';

            function updateInformation(){
                document.getElementById('additional_info').innerHTML= 
                `Size: ${document.getElementById('sizes').value}
                Color: ${document.getElementById('colors').value}
                Type: ${document.getElementById('types').value}
                `;
            }
        </script>
    </div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}