{% extends 'base.html' %}
{% block content %}

    <div class="content">
        <div class="form_modal">
            <form action="/PSITS@AddMerch" method="post"  enctype="multipart/form-data">
                <h1>Create Merch</h1>
                <p style="color:red;">{{ message }}</p>
                <div class="form_field">
                    <label for="Merch">Merch:</label> <input id="Merch" name="Merch" type="text" placeholder="Merch name" required>
                </div>
                <div class="form_field" >
                    <label for="Info">Information:</label> <textarea id="Info" name="Info" type="text" required style="resize:none;"></textarea>
                </div>
                <div class="form_field"  >
                    <label for="Price">Price:</label> <input id="Price" name="Price" type="number" required>
                </div>
                <div class="form_field">
                    <label for="Discount">Discount:</label> <input id="Discount" name="Discount" type="number" placeholder="0-99" required>
                </div>
                <div class="form_field">
                    <label for="Stock">Stock:</label> <input id="Stock" name="Stock" type="number" required>
                </div>
                <div class="form_field">
                    <label for="merch_image">Include image:  <i>**Accept only PNG</i></label> <br />
                    <input class="file_input" type="file" id="merch_image" name="merch_image" accept=".png" >
                </div>
                <br>
                <div class="form_field">
                    <button type="reset" onclick="location.href='/PSITS@MerchandiseList'">Cancel</button>
                    <button type="submit">Create</button>
                </div>
                <br>
            </form>
        </div>
    </div>

{% endblock %}