{% extends 'base.html' %}
{% block content %}
<br />
<br />
<br />
<button class="normalButton" onclick="home()">Back</button>

   
   <br />

      <div class="tableTitle">
        <h1>Orders List</h1>
      </div>


      <div class="warning">
        <center><h3 style="color:red;">Note: You cannot edit in mobile mode.</h3></center>

      </div>
         
       <br />
            <form action="" method="get">
              <div class="searchTable">
                <center>
            <input id="search_student" type="text" name="search" placeholder="SEARCH REF # | STATUS | PRODUCT | ID NUMBER | RFID | LASTNAME" value="{{search}}">
            <button type="submit" class="normalButton"><div class="flexer" style="display:flex;"><i class="fa-sharp fa-solid fa-magnifying-glass"></i> <p class="hide">Search</p></div></button>
            <button type="button" onclick="loadCSVTemplate('orders',document.getElementById('search_student').value)" class="normalButton"> <div class="flexer" style="display:flex;"><i class="fa-sharp fa-solid fa-file-export"></i> <p class="hide">CSV</p></div></button>
            <button type="button" onclick="location.href='/PSITS@DataAnalytics'" class="normalButton"> <div class="flexer" style="display:flex;"><i class="fa-sharp fa-solid fa-file-export"></i> <p>CHARTS</p></div></button>
            </center>
          </div>
          </form>
       <br />
          <div class="tableTitle">
            <h1 style="color: orange; font-size:120%;"> Orders: ₱{{'%0.2f'| format(reserve|float)}}  |  Total: ₱{{'%0.2f'| format(paid|float)}}/{{'%0.2f'| format(total|float)}}  </h1>
          </div>
          <br />
     
        <br>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>REF #</th>
                <th>NAME</th>
                <th>PRODUCT</th>
                <th>ADD INFO.</th>
                <th class="hide">QUANTITY</th>
                <th class="hide">AMOUNT</th>
                <th>STATUS</th>
                <th class="hide">ACTION</th>
              </tr>
            </thead>
            <tbody>

              {% for order in ORDERS %}
              <form method="post" action="">
                <tr>
                  <input name="order_ref" id="{{order.order.uid}}idnum" type="text" value="{{order.reference}}" hidden>
                  <td><input name="ref" id="{{order.order.uid}}ref" type="text" value="{{order.reference}}" disabled></td>
                  <td><input name="name" id="{{order.order.uid}}name" type="text" value="{{order.account.lastname}}, {{order.account.firstname}}" disabled></td>
                  <td><input name="prod" id="{{order.order.uid}}prod" type="text" value="{{order.merch.title}}" disabled></td>
                  <td><p style="white-space: pre-line;" class="information">{{order.order.additional_info}}&#8203;</p></td>
                  <td class="hide"><input name="qty" id="{{order.order.uid}}qty" type="text" value="{{order.order.quantity}}" disabled></td>
                  <td class="hide"><input name="amt" id="{{order.order.uid}}amt" type="text" value="P{{'%0.2f'| format((order.getTotal() * order.order.quantity)|float)}}" disabled></td>
                  {% if order.getStatus() == 'ORDERED' %}
                  <td>
                    <select name="status" id="{{order.order.uid}}status" disabled>
                        <option value="ORDERED" selected>ORDERED</option>
                        <option value="PAID">PAID</option>
                        <option value="CANCELLED">CANCEL</option>
                      </select>
                  </td>
                  {% elif order.getStatus() == 'PAID' %}
                  <td>
                    <select name="status" id="{{order.order.uid}}status" disabled>
                      <option value="PAID" selected>PAID</option>
                      <option value="CLAIMED">CLAIMED</option>
                    </select>
                  </td>
                  {% elif order.getStatus() == 'CANCELLED' %}
                  <td>
                    <select name="status" disabled>
                      <option value="CANCELLED" selected>CANCELLED</option>
                    </select>
                  </td>
                  {% else %}
                  <td>
                    <select name="status" disabled>
                      <option value="CLAIMED" selected>CLAIMED</option>
                    </select>
                  </td>
                  {% endif %}
                  <td class="hide"><a id="{{order.order.uid}}edit" onclick="editOrderStatus({{order.order.uid}})">✎</a><button id="{{order.order.uid}}button" type="submit" hidden>💾</button> <a onclick="deleteOrder('{{order.order.uid}}')">❌</a></td>
                </tr>
              </form>
              {% endfor %}


            </tbody>
          </table>
        </div>
        <br/ >
        <p style="text-align: center; color: red;">Only the top 100 in the list are displayed</p>
      <br>
      <br>
      <br>
      <br>
 
  

  

 
  <br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />

<!-- 
  <div>
    <div class="information_container">

      <div class="information_content">
        <h1>Orders List</h1>
      </div>

        <div class="information_menu">
        <form action="" method="get">
          <div class="menu_item">
            <button type="reset" onclick="home()">PSITS</button>
            <button type="submit">Search</button>
            <input id="search_student" style="width: 40ch;" type="text" name="search" placeholder="SEARCH REF # | STATUS">
          </div>
        </form>

        </div>
        <br>
        <div class="information_content">
          <div class="menu_item">
            <h1 style="color: aqua;"> Orders: ₱{{'%0.2f'| format(reserve|float)}}  |  Total: ₱{{'%0.2f'| format(paid|float)}}/{{'%0.2f'| format(total|float)}}  </h1>
          </div>
          <table>
            <thead>
              <tr>
                <th>REF #</th>
                <th>NAME</th>
                <th>PRODUCT</th>
                <th>QUANTITY</th>
                <th>AMOUNT</th>
                <th>STATUS</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>

              {% for order in ORDERS %}
              <form method="post" action="">
                <tr>
                  <input name="order_ref" id="{{order.order.uid}}idnum" type="text" value="{{order.reference}}" hidden>
                  <td><input name="ref" id="{{order.order.uid}}ref" type="text" value="{{order.reference}}" disabled></td>
                  <td><input name="name" id="{{order.order.uid}}name" type="text" value="{{order.account.lastname}}, {{order.account.firstname}}" disabled></td>
                  <td><input name="prod" id="{{order.order.uid}}prod" type="text" value="{{order.merch.title}}" disabled></td>
                  <td><input name="qty" id="{{order.order.uid}}qty" type="text" value="{{order.order.quantity}}" disabled></td>
                  <td><input name="amt" id="{{order.order.uid}}amt" type="text" value="P{{'%0.2f'| format((order.getTotal() * order.order.quantity)|float)}}" disabled></td>
                  {% if order.getStatus() == 'ORDERED' %}
                  <td>
                    <select name="status" id="{{order.order.uid}}status" disabled>
                        <option value="ORDERED" selected>ORDERED</option>
                        <option value="PAID">PAID</option>
                        <option value="CANCELLED">CANCEL</option>
                      </select>
                  </td>
                  {% elif order.getStatus() == 'PAID' %}
                  <td>
                    <select name="status" id="{{order.order.uid}}status" disabled>
                      <option value="PAID" selected>PAID</option>
                      <option value="CLAIMED">CLAIMED</option>
                    </select>
                  </td>
                  {% elif order.getStatus() == 'CANCELLED' %}
                  <td>
                    <select name="status" disabled>
                      <option value="CANCELLED" selected>CANCELLED</option>
                    </select>
                  </td>
                  {% else %}
                  <td>
                    <select name="status" disabled>
                      <option value="CLAIMED" selected>CLAIMED</option>
                    </select>
                  </td>
                  {% endif %}
                  <td><a id="{{order.order.uid}}edit" onclick="editOrderStatus({{order.order.uid}})">✎</a><button id="{{order.order.uid}}button" type="submit" hidden>💾</button> <a onclick="deleteOrder('{{order.order.uid}}')">❌</a></td>
                </tr>
              </form>
              {% endfor %}


            </tbody>
          </table>
        </div>

      <br>
      <br>
      <br>
      <br>
      <p style="text-align: center; color: white;">Only the top 100 in the list are displayed</p>

    </div>

  </div> --> 
{% endblock %}