{% extends 'base.html '%}

{% block content %}
<br />
<button class="backButton" onclick="merchandise()">Back</button>
<br />

<div class="orderTitle"><center><h1>MY ORDERS</h1></center> <br /> <hr></div>
<br />
<br />

<br />
<div class="myOrder">
    <table>
        <br />
        <thead>
            <tr>
            <th></th>
            <th>Item</th>
            <th class="hide">Additional Info</th>
            <th>Date</th>
            <th class="hide">Quantity</th>
            <th>Status</th>
            <th class="hide">Total</th>
           
            <th>Reference</th>
            </tr>
            <tr></tr>
        </thead>
       
        <tbody>
       
            {% for order in orders %}
           
            <tr>
                <td class="order_img">
                {% if order.merch.image_file != '' %}
                <img id="{{order.merch.uid}}" loading="lazy"
                    src="{{ url_for('download_file', filename=order.merch.image_file) }}">
                {% endif %}
                </td>
                <td>{{order.merch.title}}</td>
                <td class="order_info hide">{{order.order.additional_info}}</td>
                <td>{{order.order.order_date}}</td>
                
                <td class="hide">{{order.order.quantity}}</td>
                {% if order.getStatus() =='ORDERED'%}
                <td style="color:red;" >{{order.getStatus()}}</td>
                {% elif order.getStatus() =='PAID'%}
                <td style="color:orange;" >{{order.getStatus()}}</td>
                {% elif order.getStatus() =='CANCELLED'%}
                <td style="color:violet;" >{{order.getStatus()}}</td>
                {% else %}
                <td style="color:green;" >{{order.getStatus()}}</td>
                {% endif %}
                </td>
                <td class="hide">₱{{'%0.2f'| format(order.getTotal() * order.order.quantity|float)}}</td>
                
                <td> {{order.reference}}</td>
            </tr>
        
            {% endfor %}
           
        </tbody>
    </table>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}