{% extends 'base.html' %}
{% block content %}
    <! -- This is for the background -->
    <div class="ann_bg_1"></div>
    <div class="ann_bg_2"></div>
    <! -- This is for the background -->

    <div class="content">
        <div class="form_general">
            <form action="/PSITS@NewEvent" method="post"  enctype="multipart/form-data">
                <h1>New Event</h1>
                <div>
                    <label for="Title">Title:</label> <input id="Title" name="Title" type="text" placeholder="Event Title" required>
                </div>
                <div>
                    <label for="Date">Date Held:</label> <input id="Date" name="date_held" type="date" required>
                </div>
                <div>
                    <label for="Info">Information:</label> <input id="Info" name="Information" type="text" placeholder="Event Information" required>
                </div>
                 <div>
                    <label for="event_image">Include image:  <i>**Accept only PNG</i></label> <br />
                    <input class="file_input" type="file" id="event_image" name="event_image" accept=".png" >
                </div>
                <br>
                <div style="position: relative; margin: auto; padding: auto; text-align: center;">
                    <button type="reset" onclick="location.href='/PSITS'">Cancel</button>
                    <button type="submit">Create</button>
                </div>
                <br>
            </form>
        </div>
    </div>

{% endblock %}