

<div class="dean">
    <div class="leftContent">
        <div class="imageContent">
            <img src="~/images/faculties/fulltime/basabe.jpg">
            <br>
            <br>
            <h3>Mr. Neil Basabe</h3>
            <h5>Dean</h5>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="rightContent">
        <h3>Dean’s Welcome Message</h3>

        <span>
            First of all, I would like to congratulate the PSITS officers of A.Y. 2022-2023 and the adviser, Mr. Dennis Durano, for finally deploying a website for the organization and the students that they serve.

            I am pleased to extend a warm welcome to all new and continuing students of the College of Computer Studies at the University of Cebu. We are eager to start another semester with you, whether you are taking classes on campus or online.

            You, I, or any of your teachers have had to make a lot of adjustments this semester as we return to face-to-face instruction. Together, we are all learning how to function again in this supposed to be familiar environment made unfamiliar because of the Covid19 pandemic.  I do, however, wish to thank the entire college teachers and staff. Before the semester began, they worked incredibly hard to provide you with an education that is unmatched. I'm hoping this semester will go really well for all of you.

            Once more, welcome to the University of Cebu College of Computer Studies, where quality and globally competitive information technology and computer science education is right within your reach.
        </span>
    </div>
</div> 