@model HomeViewModel
@{
    ViewData["Title"] = "PSITS";
}
<br /><br /><br /><br /><br /><br />
<div class="text-center">
    @{
        foreach(var announcement in await Model.GetAnnouncementsAsync())
            {
                <h1 class="display-4">@announcement.Title</h1>
                <h5>@announcement.Content</h5>
            }
    }
    <p>Retrieved from PSITS Database</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br /><br /><br /><br /><br /><br />
