.announcement_content{
    position: relative;
    left: 68%;
    transform: translateX(-68%);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.ann_bg_1{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('images/PSITS_BG_OFFICERS.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.ann_bg_2{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.announcement_content h1{
    color: white;
    text-align: center;
    transition: all 1000ms ease;
}

.announcement_content .announcement_thread{
    position: relative;
    left: 70%;
    width: 60%;
    transform: translateX(-70%);
    background-color: #002e48;
    border-radius: 20px;
    transition: all 1000ms ease;
}

.announcement_title{
    position: relative;
    left: 60%;
    width: 500px;
    transform: translateX(-60%);
    border-radius: 20px;
    transition: all 1000ms ease;
}

.announcement_content .announcement_thread h2{
    color: white;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 2em;
    transition: all 1000ms ease;
}

.announcement_content .announcement_thread h3{
    color: white;
    margin-top: -10px;
    padding-left: 50px;
    font-size: 1.1em;
    transition: all 1000ms ease;
}

.announcement_content .announcement_thread a{
    font-size: 1.2em;
    display: flex;
    color: red;
    padding-left: 50px;
    padding-bottom: 20px;
    width: 80%;
    transition: all 1000ms ease;
}

.announcement_content .announcement_thread a:hover{
    cursor: pointer;
}


.announcement_content .announcement_thread span{
    font-size: 1.2em;
    display: flex;
    color: white;
    padding-left: 50px;
    padding-bottom: 20px;
    width: 80%;

    //text-align: justify;
    white-space: pre-line;
    z-index: 2;
    transition: all 1000ms ease;
}

.contents{
    display:flex;
    z-index:3;
}

.events{
    position: fixed;
    width: 20%;
    height: 100vh;

    //background-color: #002e48;
    background: rgba(0, 0, 0, 0.8);
    z-index:5;

    overflow-y: scroll;
    transition: all 1000ms ease;
}

.events h1{
    color: white;
    text-align: center;
}

.events_thread{
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    position: relative;
    border-radius: 10px;
    background-color: white;
    z-index: 4;
}

.events_thread button{
    padding: 5px 10px 5px 10px;
    margin: 5px;
    font-size: 1em;
    font-weight: bold;
}

.announcement_field{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 50px;
    width: 80%;
    transition: all 1000ms ease;
}

.announcement_field button{
    margin: auto;
    color: white;
    background-color: #002e48;
    font-size: 1.2em;
    padding: 8px 10px 8px 10px;
    border: 2px solid aqua;
    border-radius: 15px;
}

.announcement_field button:hover{
    cursor: pointer;
}

.announcement_field_content{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 80%;
    transition: all 1000ms ease;
}

.announcement_field_content textarea{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 200px;
    resize: none;
    background-color: white;
    transition: all 1000ms ease;
    font-size: 1.5em;
}

.announcement_field input{
    position: relative;
    padding:auto;
    margin: auto;
    border: auto;
    font-size: 1.2em;
    width: 98%;
}


.announcement_field p{
    position: relative;
    padding:auto;
    margin: auto;
    border: auto;
}

.events_thread h2{
    padding-top: 10px;
}

.events_thread span{
    font-size: 1.2em;
    white-space: pre-line;
}

.form_general{
    position: absolute;
    margin-top: 250px;
    padding: 0;
    border: 0;
    left: 50%;
    top: 50%;
    width: 500px;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 1.2em;
}

.form_general h1{
    text-align: center;
}

.form_general form div{
    position: relative;
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: auto;
}

.form_general div label{
    position: relative;
    margin: auto;
    padding: auto;
    border: auto;
    color: white;
    font-style: bold;
}

.form_general form div input, select{
    position: relative;
    margin-left: 100px;
    width: 300px;
    font-size: 1em;
    background-color: rgba(0,0,0,0.95);
    border: 0px;
    padding: 5px 5px 5px 15px;
    color: white;
    border-radius: 10px;
}

.input_form{
    font-size: 1em;
    background-color: rgba(0,0,0,0.95);
    border-radius: 10px;
    color: white;
    width: 10ch;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

*::placeholder {
    color: gray;
}

.event_modal{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 400px;
    background-color: white;
    z-index: 1;
    transform: translate(-50%,-50%);
    border: 1px solid black;
}

.event_modal_close_button{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    padding: 2px;
    background-color: white;
    transition: all 300ms ease;
}

.event_modal_close_button:hover{
    cursor: pointer;
    background-color: pink;
    color: green;
}

.event_modal_content{
    text-align: center;
}

.event_button{
    font-size: 1.5em;
    border: 0px;
    border-radius: 5px;
    color: white;
    background-color: #002e48;
    margin-bottom: 20px;
    padding: 5px;
}

.event_button:hover{
    cursor: pointer;
}

.message_box{
    position: relative;
    text-align: justify;
    white-space: pre-line;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
}

@media(max-width: 1000px){

    .contents{
        display:block;
    }


    .events{
        position: relative;
        width: 100%;
        height: 500px;
    }



    .announcement_content .announcement_thread{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
        background-color: #002e48;
        border-radius: 20px;
    }

    .announcement_title{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
        border-radius: 20px;
    }

    .announcement_content .announcement_thread h2{
        font-size: 1.5em;
    }

    .announcement_content .announcement_thread h3{
        font-size: 1.2em;
    }

    .announcement_content .announcement_thread span{
        width: 400px;
        font-size: 0.8em;
    }

    .announcement_content .announcement_thread a{
        font-size: 0.8em;
    }

    .events_thread{
        margin-top: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        text-align: center;
        position: relative;
        border-radius: 10px;
        background-color: white;
    }

    .announcement_field_content textarea{
        font-size: 1.2em;
    }


}

@media(max-width: 500px){

    .announcement_content .announcement_thread{
        width: 300px;
    }


    .announcement_content .announcement_thread h2{
        font-size: 1em;
    }

    .announcement_content .announcement_thread h3{
        font-size: 0.8em;
    }

    .announcement_content .announcement_thread span{
        width: 200px;
        font-size: 0.4em;
    }


}