{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">

{% block head %}
<!-- <head> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSITS INTERCAMPUS</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <style>
        #content {
    min-height: calc(100% - 50px);
    /* Subtract the height of the footer */
    padding-bottom: 50px;
    /* Add padding to make room for the footer */
}

#footer {

    position: relative;
    margin-top: -50px;
    /* Set the footer to overlap the main content area */

    width: 100%;
}
canvas{
	position: absolute;
    left: 0;
    top: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
}

    </style>
<!-- </head> -->
{% endblock %}

{% block content %}
    <body>
        <canvas id="background-canvas"></canvas>
        <br><br><br><br><br><br>
   
   

        <div class="loginForm">
        <h1>PSITS </h1>
      
        <h4>Intercampus Administration</h4>
        <hr>
        <h4>Log in</h4>
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa-solid fa-user"></i></span>
            <input type="number" min="0" max="99999999" class="form-control"id="idno" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="ID Number" />
          </div>
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa-solid fa-lock"></i></span>
            <input type="password" id="pass" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Password"/>
          </div>
        <br>
        <div>
            <button id="login-btn" type="button" class="btn text-white" onclick="loginAccount()" style=" background-color:#002e48;">Login</button>
        </div>
        {% if ALLOW_REGISTRATION %}
        <br>
        <div>
            <button type="button" class="btn text-white" onclick="location.href='/registration';" style=" background-color:#002e48;">Register</button>
        </div>
        {% endif %}
    </div>

<!-- <footer>Created by: <a href="https://jayharronabejar.info" target="_blank">Jayharron Mar Abejar</a></footer> -->




<script>
    const getCreds = () => {
        const idno = document.querySelector('#idno').value;
        const pass = document.querySelector('#pass').value;

        return {idno, pass};
    }

    const loginAccount = async () => {
        const {idno, pass} = getCreds();

        const response = await fetch('/api/getacc', {
            headers:{
                "idno": idno,
                "pass": pass
            },
        });

        const data = await response.json();
        console.log(data);
        if(data.status == 'ok'){
            location.href = `/login/${data.access_key}`
        }
    }

    if(window.screen.width <= 450){
        document.querySelector('#login-btn').disabled = true;
        document.querySelector('#login-btn').innerHTML = 'USE DESKTOP';
    }

    const canvas = document.querySelector('#background-canvas');
    const context = canvas.getContext('2d');

    canvas.width = window.screen.width;
    canvas.height = window.screen.height;

    context.fillStyle = 'black';
    context.fillRect(0,0,1920,1080);


    class Circle{
        constructor({position, radius = 2, velocity, distance=10}){
            this.position = position;
            this.radius = radius;
            this.velocity = velocity;
            this.distance = distance;
            this.max_connection = 3;
            this.connections = 0;
        }

        draw(){
            context.beginPath();
            
            context.arc(
                this.position.x,
                this.position.y,
                this.radius,
                0,
                Math.PI * 2,
                false
            )
            context.fillStyle = 'black';
            context.fill();
            context.closePath();
        }

        update(){
            this.position.x += this.velocity.x;
            this.position.y += this.velocity.y;

            // if malapas sa screen
            if(this.position.x > canvas.width){
                this.position.x = 0;
            }
            if(this.position.x < 0){
                this.position.x = canvas.width;
            }
            if(this.position.y > canvas.height){
                this.position.y = 0;
            }
            if(this.position.y < 0){
                this.position.y = canvas.height;
            }
        }
    }

    const arrayOfCircles = new Array();

    const circleGenerator = () => {
        let generateCircleTotal = window.screen.width > 450?100:30;
        for(let i = 0; i < generateCircleTotal; i++){
            const c1 = new Circle({
                position:{
                    x: Math.floor(Math.random() * window.screen.width),
                    y: Math.floor(Math.random() * window.screen.height)
                },
                radius: 3,
                velocity: {
                    x: Math.floor(Math.random() * 2)>0?Math.random()*1:0-(Math.random() * 1),
                    y: Math.floor(Math.random() * 2)>0?Math.random()*1:0-(Math.random() * 1)
                }
            });
            c1.distance = Math.floor(Math.random()*300);
            arrayOfCircles.push(c1);
        }
    }

    const keys = {
        position:{
            x: 0,
            y: 0
        }
    }


    circleGenerator();

    const drawALine = (pointA, pointB) => {
        context.beginPath()
        context.moveTo(pointA.position.x, pointA.position.y);
        context.lineTo(pointB.position.x, pointB.position.y);
        context.strokeStyle = 'black';
        context.lineWidth = 1;
        context.stroke();
    }

    const getDistanceOfTwoPoints = (point1, point2) => {
        let a = Math.abs(point1.position.x - point2.position.x);
        let b = Math.abs(point1.position.y - point2.position.y);

        a *= a;
        b *= b;

        let c = a + b;
        return Math.sqrt(c);
    }



    // animation loop
    const animation = () => {
        requestAnimationFrame(animation);
        context.clearRect(0,0,1920,1080);
        

        // draw a line if a circle is near another circle
        arrayOfCircles.forEach(c1 => {
            arrayOfCircles.forEach(c2 => {
                let distance = getDistanceOfTwoPoints(c1, c2);

                //console.log(distance);
                if(distance < c1.distance){
                    if(c1.connections < c1.max_connection){
                        drawALine(c1, c2);
                        c1.connections++;
                    }
                    
                }
            });
        });

        // draw the circles
        arrayOfCircles.forEach(c => {
            let circleDistance = getDistanceOfTwoPoints(keys, c);
            
            if(circleDistance < 100 ){
                //console.log(circleDistance)
                if(c.position.x < keys.position.x){
                    c.position.x-=1;
                }
                if(c.position.x > keys.position.x){
                    c.position.x+=1;
                }

                if(c.position.y < keys.position.y){
                    c.position.y-=1;
                }
                if(c.position.y > keys.position.y){
                    c.position.y+=1;
                }
            }

            c.update();
            c.draw();
            c.connections = 0;
        })

    }


    addEventListener('mousemove', ({clientX, clientY})=> {
        keys.position.x = clientX;
        keys.position.y = clientY;
        console.log(keys.position.x, keys.position.y)
    })

    animation();
</script>
</body>
{% endblock %}