{% extends 'base.html' %}
{% block content %}
<br/><br/><br/><br/>
    <div class="content">
        <div class="form_modal">
            <form action="/PSITS@ResetPassword/{{idnum}}" method="post">
                <h1>Password Reset</h1>
                <div class="form_field">
                    <p style="color: red; font-size:90%;">{{message}}</p>
                </div>
                
                <br/>
                <div class="form_field">
                    <i class="fa-solid fa-lock"></i><input id="password" name="password" type="password" placeholder="Password" pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" onchange="onChange()"
                        required> <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
                </div>
                <div class="form_field">
                    <i class="fa-solid fa-check"></i>
                    <input id="confirm" name="confirm" type="password" placeholder="Confirm Password" onchange="onChange()"
                        required> <i class="fa-solid fa-eye-slash" id="toggleConfirmPassword"></i>
    
                </div>
                <p style="color: gray; font-size:80%;">Requirement</p>
                <p style="color: gray; font-size:70%;">• At least one upper case English letter</p>
                <p style="color: gray; font-size:70%;">• At least one lower case English letter</p>
                <p style="color: gray; font-size:70%;">• At least one digit</p>
                <p style="color: gray; font-size:70%;">• At least one special character</p>
                <p style="color: gray; font-size:70%;">• At least 8 characters in length</p>
                <br>
                <div style="position: relative; margin: auto; padding: auto; text-align: center;" class="form_field">
                    <button type="reset" onclick="location.href='/PSITS@Login'">Cancel</button>
                    <button type="submit">Reset</button>
                </div>
                <br>
            </form>
        </div>
    </div>
    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");
        const toggleConfirmPassword = document.querySelector("#toggleConfirmPassword");
        const confirmpassword = document.querySelector("#confirm");
        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            // toggle the icon
            this.classList.toggle("fa-eye");
        });
    
        toggleConfirmPassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = confirmpassword.getAttribute("type") === "password" ? "text" : "password";
            confirmpassword.setAttribute("type", type);
            // toggle the icon
            this.classList.toggle("fa-eye");
        });
    
    </script>
    <br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}