{% extends 'base.html' %}
{% block content %}
<br/><br/><br/><br/>
    <div class="content">
        <div class="form_modal">
            <form action="/PSITS@PasswordReset/{{idnum}}" method="post">
                <h1>Password Reset</h1>

                <br/>
                <div class="form_field">
                    <p style="color: red; font-size:100%;">{{message}}</p>
                </div>
                <br/>
                <div style="position: relative; margin: auto; padding: auto; text-align: center;" class="form_field">
                    <button type="reset" onclick="location.href='/PSITS@Students'">Cancel</button>
                    <button type="submit">Reset</button>
                </div>
                <br>
            </form>
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}