{% extends 'base.html' %}
{% block content %}
<style>
    body{
        background-color: rgb(22, 22, 22);
        color: white;
    }
    .wrapper{
        width: 100%;
        min-height: 60vh;
        transition: all 500ms ease-in;
    }
    .center{
        text-align: center;
    }
    img{
        width: 50%;
    }

    .minW-350_maxW-700{
        min-width: 350px;
        width: fit-content;
        max-width: 700px;
        font-size: 100%;
    }

    .minW-350_W-700{
        min-width: 350px;
        width: 700px;
    }

    .green{
        color: green;
    }

    .purple{
        color: purple;
    }

    .aqua{
        color: rgb(91, 140, 161);
    }

    .brown{
        color: burlywood;
    }

    .orange{
        color: orange;
    }

    .bg-1{
        background-color: rgba(123, 242, 123, 0.1);
    }

    .bg-2{
        background-color: rgba(214, 023, 123, 0.1);
    }

    .bg-3{
        background-color: rgba(32, 32, 233, 0.1);
    }


    .code{
        position: relative;
        border: 2px solid grey;
        white-space:pre-wrap;
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
        left: 50%;
        transform: translateX(-50%);
        font-size: 100%;
    }

    @media (max-width: 500px) {
        img{
            width: 80%;
        }   
        .code{
            font-size: 50%;
        }
        .minW-350_W-700{
            min-width: 350px;
            width: 95%;
        }
        .minW-350_maxW-700{
            font-size: 60%;
            min-width: 350px;
            width: 300px;
        }
    }
</style>
<div class="wrapper">
    <br />
    <button class="backButton" onclick="location.href='/'">Back</button>
    <br /><br />
    <h2 style="text-align: center">PSITS Minecraft Server</h2>
    <div style="width: fit-content;position: relative;left:50%;transform: translateX(-50%);">
      <img style="width:150px;position: relative;left:50%;transform: translateX(-50%);" src="{{url_for('static', filename='images/minecraft_PNG70.png')}}">
      <span id="mcsSpan" style="width: 150px;font-weight: 900;white-space: pre-line;"></span>
    </div>
    <br>
</div>
<script>
    const updateMCS = async () => {
      fetch('/PSITS/api/mcs')
      .then(res => res.json())
      .then(data => {
        let names = '';
        data.data.names.split(',').forEach(name => {
          if(name !== '')
            names += "&nbsp;&nbsp;&nbsp;- "+name + "<br>";
        })
        document.querySelector('#mcsSpan').innerHTML = `
          Server Address: 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-server" aria-hidden="true"> IP: </i> <a style='color:orange;text-decoration-line: line-through'>119.92.196.92:25565</a> <i class="fa-solid fa-laptop"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-server" aria-hidden="true"> IP: </i> <a style='color:orange;text-decoration-line: line-through'>119.92.196.92</a> | PORT: <a style='color:orange;text-decoration-line: line-through'>19132</a> <i class="fa-solid fa-mobile"></i>
          Minecraft Version: 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-laptop"></i> <a style='color:red;'>1.19.4</a> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-mobile"></i> <a style='color:red;'>1.19.30-1.19.70</a>

          Online: <a style='color:green;'>${data.data.users} </a> <i class="fa fa-user" aria-hidden="true"></i>
          Players:
            ${names}
        `;
      })
    }
  
    setInterval(()=>{updateMCS()}, 25000);
    updateMCS()
  </script>

{% endblock %}