{% extends 'base.html' %}
{% block content %}
<style>
    .wrapper{
        width: 100%;
        min-height: 60vh;
        transition: all 500ms ease-in;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='survey.css')}}">
<div class="wrapper">
    <div class="survey_container">
        <input value="{{SURVEY_DATA}}" type="text" hidden id="data" />
        <input value="{{account}}" type="text" hidden id="user">
        <div class="survey_session" id="survey_session">
            <h1 id="title"></h1>
            <br>
            <p  id="question"></p>
            <br>
            <select id="answer-selection" hidden></select>
            <textarea id="answer" placeholder="Type your answer here..." hidden></textarea>
            <div>
                <br>
                <button class="normalButton" id="session-button" onclick="nextQuestion()" hidden>Proceed</button>
            </div>
        </div>
    </div>
    <div class="non-select" style="position: absolute; bottom: 5%; right: 5%; color: rgb(201, 214, 255); font-size: 12px;">
        <p>Created by: Jayharron Mar Abejar</p>
    </div>
</div>
<script src="{{ url_for('static', filename='survey.js')}}"></script>
<script>
    loadSurvey(document.getElementById('data').value);
    document.getElementById('data').value = '-';
</script>

{% endblock %}