{% extends 'base.html' %}
{% block content %}
<style>
    .contents{
        position: relative;
        display: block;
        text-align: center;
        align-items: center;
        align-content: center;
        width: 100%;
    }

    .contents table{
        position: relative;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        border-collapse: collapse;
    }
    .contents table thead th, tbody tr td{
        border: 2px solid gainsboro;
        margin: auto;
        font-size: 20px;
    }

    a{
        cursor: pointer;
    }

    .noborder{
        border: 0;
        border-collapse: collapse;
    }
    .normalButton{
        font-size: 15px;
        padding: 10px;
        white-space: nowrap;
    }

    .quizID{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .quizRow{
        overflow: hidden;
        display: grid;
        place-items: left;
        border: 0;
        background-color: rgb(239, 239, 239);
    }

    @media (max-width: 800px) {
        .contents table thead th, tbody tr td{
            font-size: 15px;
        }
        .normalButton{
            font-size: 10px;
            padding: 5px;
        }
    }

    @media (max-width: 600px) {
        .contents table thead th, tbody tr td{
            font-size: 10px;
        }
    }
</style>

<div class="container">
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;<a style="position: relative;" class="normalButton" href="/PSITS/Administration">BACK</a>
    <br><br><br><br><br>
    <div class="contents">
        <br>
        <h1>Survey</h1><br>
        <table>
            <thead>
                <th title="Survey ID">Survey ID</th>
                <th title="Title of the survey">Title</th>
                <th title="Number of individuals who took the quiz">Repondents</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for SURVEY in SURVEY_DATA %}
                    <tr>
                        <td><div class="quizRow"><a class="quizID" href="/PSITS/Survey/{{ SURVEY.id }}">{{ SURVEY.id }}</a></div></td>
                        <td>{{ SURVEY.surveyTitle }}</td>
                        <td><a href="/PSITS/Survey/Respondents/{{ SURVEY.id }}">{{ SURVEY.respondents }}</a></td>
                        <td></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="noborder" colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td class="noborder"  colspan="3"></td>
                    <td class="noborder" ><a class="normalButton" onclick="location.href='/PSITS/CreateSurvey'">Create a Survey</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br><br><br><br><br><br><br>
<script>
    
</script>
{% endblock %}