{% extends 'base.html' %}
{% block content %}
<style>
    /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
    .group, .group-users{
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        background-color: rgb(199, 199, 199);
    }
    .group-users{
        padding: 5px 20px 5px 20px;
        display: flex;
        background-color: white;
    }

    hr.line{
        border-top: 5px solid black;
        background-color: rgb(88, 56, 16);
    }
    .user-answers{
        padding: 20px;
    }

    .user-info img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .user-info{
        width: 200px;
        border: 1px solid black;
        padding: 10px;
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
    }

    .user-info h1{
        font-size: 20px;
        font-weight: 900;
    }

    .user-info p{
        font-size: 15px;
        padding: 0;
        margin: 0;
    }


    .answer{
        width: 200px;
        height: 60px;
    }

    @media(max-width: 500px){
        .group, .group-users{
            width: 300px;
        }
        .group-users{
            padding: 5px 20px 5px 20px;
            display: block;
        }
        .user-info{
            width: auto;
        }
    }
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container">
    
    <div class="group">
        &nbsp;&nbsp;&nbsp;&nbsp;<a style="position: relative;" class="normalButton" href="/PSITS@Survey">BACK</a><br><br>
        <h1>{{SURVEY_DATA.surveyTitle}}</h1>
        <p>Number of items: {{SURVEY_DATA.surveyQuestions | length}}</p>
        <br>
        <p><strong>Questions</strong></p>
        <div class="row">
            {% for answer in SURVEY_DATA.surveyQuestions %}
            
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div style="padding: 20px">
                        <p>{{answer['Question']}}</p>
                    </div>
                </div>
            
            {% endfor %}
        </div>
    </div>
    <h1 style="text-align: center;font-weight:900">Respondents</h1>
    <hr class="line">
    {% for participant in RESPONDENTS %}
    <div class="group-users">
        <div class="user-info" style="overflow: hidden;">
            {% if participant.imgSrc %}
            <img style="width: 150px;height: 150px;" src="/uploads/{{participant.imgSrc}}">
            {% else %}
            <img src="https://via.placeholder.com/150x150">
            {% endif %}
            <h1 >{{participant.User}}</h1>
        </div>
        <div class="user-answers">
            <p>Answers: </p>
            <br>
            <div class="row">
                {% for index in range(participant.SurveyAnswers | length)%}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="answer">
                            <p style="cursor: help;"><i style="color: green;font-weight:900;" class="fa-solid fa-check"></i> [{{index+1}}]{{participant.SurveyAnswers[index]}}</p>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
    <hr class="line">
    {% endfor %}
    
</div>
<br>
{% endblock %}